<template>
  <div class="create-role-form card-shadow bounce" v-if="$store.state.create_role">
    <div>
      <a @click="closeCreate()">
        X
      </a>
    </div>
    <div class="form-content padding-small col-xs-100 col-sm-70 col-sm-offset-15 col-md-50 col-md-offset-25">
      <h3 class="text-center">Create Role</h3>
      <div class="col-xs-100" :class="{'input-invalid': errors.has('name') }" >
        <span class="text-small" v-show="errors.has('name')">{{ errors.first('name') }}</span>
        <label class="col-xs-100 padding-x-small">Name
          <input v-validate="'required'" name="name" type="text" placeholder="Name of the role" v-model="name"/>
        </label>
      </div>
      <div class="col-xs-100" :class="{'input-invalid': errors.has('order') }" >
        <span class="text-small" v-show="errors.has('order')">{{ errors.first('order') }}</span>
        <label class="col-xs-100 padding-x-small">Order
          <input v-validate="'required'" name="order" type="number" placeholder="Order of the role" v-model="order"/>
        </label>
      </div>
      <div class="col-xs-100 margin-b-small" :class="{'input-invalid': errors.has('permission') }" >
        <span class="text-small" v-show="errors.has('permission')">{{ errors.first('permission') }}</span>
        <label class="col-xs-100 padding-x-small">Permissions
          <v-select taggable multiple v-validate="'required'" v-model="permissions" class="col-xs-100"></v-select>
        </label>
      </div>
      <button class="button-block " @click="submit_role()"> Save Role</button>
    </div>
    <div class="hill hill-left"></div>
    <div class="hill hill-center"></div>
    <div class="hill hill-right"></div>
  </div>
</template>
<script>
  export default {
    data(){
      return {
        name:'',
        order:'',
        permissions:'',
        error: ''
      }
    },
    methods: {
      submit_role(){
        let inst = this, obj = this.$store, details = {
          [obj.state.create_role]:{
            [inst.name]:{
              order:inst.order,
              permissions:inst.permissions
            }
          }
        }

        inst.$validator.validateAll().then(function(success) {
          if (!success){
            return
          }
          else{
            obj.dispatch('createRole', {details})
          }
        })
      },
      closeCreate(){
        return this.$store.commit('TOGGLE_CREATE_ROLE',{'microservice':'close'})
      }
    },
  }
</script>
