<template>
  <div class="container-fluid" @click="clearSearch()">
    <div class="row">
      <div class="col-xs-90 col-xs-offset-5 flex-center">
        <avatar :username="current_role.display_name" class="direct-chat-img margin-r-small":size="45"></avatar>
        <h4 class="margin-b-none"> {{current_role.display_name}} <small> <router-link :to="'/roles/'+microservice">({{microservice}}) </router-link> </small></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-96 col-xs-offset-2 col-sm-90 col-sm-90 col-sm-offset-5">
        <div class="row">
          <div class="col-xs-80 col-xs-offset-10 col-sm-60 col-sm-offset-20 col-md-50 col-md-offset-25 margin-t-medium">
            <input class="component_search" type="text" placeholder="search for user" v-model="search" @keyup="getOptions(search)" @focus="getOptions(search)">
            <svg width="20" height="20" class="icon search-icon" v-svg="'search'"></svg>
            <div class="col-xs-100 card-raised usr-search" v-if="userSearch.length">
              <div v-for="usr in filterSearch(userSearch, $store.state.with_roles)" :key="usr.id" class="col-xs-100 usr-search-item flex-center">
                <avatar :username="usr.name" :size="26" class="usr-avatar"></avatar>
                <span class="usr-name">{{usr.name}}</span>
                <span class="usr-email">{{usr.email}}</span>
                <span class="loader loader-info" v-if="$store.state.current_add == usr.id"></span>
                <a href="#" class="button-with-svg text-tiny add-user" @click="addUser(usr.id)" v-else>
                  <svg width="15" height="15" class="icon" v-svg="'add'"></svg>
                  <span>Add user</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-if="getUsersWithRole.length">
          <div v-bind:key="user" v-for="user in filterBy(getUsersWithRole, search)" :key="user.id" class="col-xs-100 col-sm-50 col-md-25 padding-small usr-detail">
            <div class="padding-small col-xs-100 card-raised flex-center">
              <avatar :username="user.name" :size="26" class="margin-r-small float-left"></avatar>
              <span class="text-small text-bold margin-r-small">{{user.name}}</span>
              <span class="loader loader-info" v-if="$store.state.current_add == user.id"></span>
              <a href="#" class="text-tiny flex-center usr-detach" @click="detachUser(user.id)" v-else>
                <svg width="20" height="20" class="icon" v-svg="'delete'"></svg>
              </a>
            </div>
          </div>
        </div>
        <div v-else class="row">
          <p class="text-bold text-center">The role does not have any users</p>
        </div>
      </div>
      <!--<List  />-->
    </div>
  </div>
</template>
<script>
  import Avatar from 'vue-avatar/src/Avatar'
  import {mapGetters} from 'vuex'
  export default {
    name: 'RolesUsers',
    props: {
      userRole: {
        type: String,
      },
      microservice: {
        type: String,
      }
    },
    components: {
      Avatar
    },
    methods: {
      getOptions(search) {
        let obj = this.$store
        obj.dispatch('searchUsers',{'search':search})

      },
      addUser(id){
        let inst, obj, role_details, details,role_name;
        inst = this;
        obj = this.$store;
        role_name = inst.current_role.name.split('.')[1];
        role_details = {
          [inst.microservice]: [
            role_name
          ]
        };
        details = [id, role_details];
        obj.dispatch('saveUserRole', {'details':details})
      },
      clearSearch(){
        let obj = this.$store
        if(obj.state.current_add <= 0){
          obj.dispatch('searchUsers',{'search':''})
        }

      },
      detachUser(id){

        let inst, obj, role_details, details,role_name;
        inst = this;
        obj = this.$store
        role_name = inst.current_role.name.split('.')[1]
        role_details = {
          [inst.microservice]: [
            role_name
          ]
        };
        details = [id, role_details];
        obj.dispatch('detachUserRole', {'details':details})
      },
      filterSearch(user_obj,user_arr){
        for (var i = 0, len = user_obj.length; i < len; i++) {
          user_arr.filter(function( obj ) {
            if(typeof user_obj[i] !== 'undefined' && obj.id === user_obj[i].id){
              user_obj.splice(i, 1);
            }
          })
        }
        return user_obj
      },
      fetchRole(id){
        let roles, inst = this,obj = this.$store;
        obj.dispatch('loadRoles', {'microservice':inst.microservice});
        roles = this.getRoles;
        for (var i = 0, len = roles.length; i < len; i++) {
          if(roles[i].id === id){
            inst.current_role = roles[i]
          }
        }
        console.log(inst.current_role)
      }

    },
    mounted: function () {
      let id = this.userRole, obj = this.$store, inst = this;
      obj.dispatch('loadUsersWithRole', {'userRole':id});


    },
    created: function () {
      let id = this.userRole, obj = this.$store, inst = this;
      obj.dispatch('loadRoles', {'microservice':inst.microservice});
      let roles = obj.state.roles;
      for (var i = 0, len = roles.length; i < len; i++) {
        if(id == roles[i].id){
          inst.current_role = roles[i]
        }
      }
    },
    computed: mapGetters([
      'getUsersWithRole',
      'userSearch',
      'getRoles'
    ]),
    data () {
      return {

        search : '',
        users: [],
        user_search:this.user_search,
        current_role:''
      }
    }
  }
</script>
