<template>
  <div class="container-fluid">
    <Create></Create>
    <div class="row">
      <div class="col-xs-90 col-xs-offset-5 flex-center">
        <avatar :username="microservice" class="direct-chat-img margin-r-small" :size="45"></avatar>
        <h3 class="margin-b-none">{{microservice}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-96 col-xs-offest-2 col-sm-90 col-sm-90 col-sm-offset-5">
        <div class="row">
          <div class="col-xs-80 col-xs-offset-10 col-sm-60 col-sm-offset-20 col-md-50 col-md-offset-25 margin-t-medium">
            <input class="component_search" type="text" placeholder="search for role" v-model="search">
            <svg width="20" height="20" class="icon search-icon" v-svg="'search'"></svg>
          </div>
        </div>
        <div class="row" v-if="getRoles.length">
          <div v-bind:key="role" v-for="role in filterBy(getRoles, search)" :key="role.display_name"
               class="col-xs-100 col-sm-25 padding-small role-detail-card">
            <router-link :to="'/roles/'+microservice+'/'+role.id" class="col-xs-100 card-raised padding-small">
              <p class="text-bold text-small text-black">{{role.display_name}}</p>
              <p class="text-small text-black">{{role.description}}</p>
              <svg width="30" height="30" class="icon" v-svg="'profile'"></svg>
            </router-link>
          </div>
        </div>
        <div v-else class="row">
          <p class="text-bold text-center">The micro-service does not have any roles</p>
        </div>
      </div>

      <!--<List  />-->
    </div>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import Avatar from 'vue-avatar/src/Avatar'
  import Create from './Create.vue'
  export default {
    name: 'role',
    props: {
      microservice: {
        type: String,
      }
    },
    components: {
      Avatar,
      Create
    },
    methods: {
      currentRoles: function () {
        return this.getRoles
      },
      showCreate: function () {
        return this.$store.commit('TOGGLE_CREATE_ROLE', {'microservice': this.microservice})
      }
    },
    mounted: function () {
      let obj = this.$store
      obj.dispatch('loadRoles', {'microservice': this.microservice})

    },
    computed: mapGetters([
      'getRoles'
    ]),
    data () {
      return {
        search: ''
      }
    }
  }

</script>
