<template>
  <div class="container-fluid">
    <div
      class="col-xs-98 col-xs-offset-1 col-sm-80 col-sm-offset-10 col-md-70 col-md-offset-15 card main-dash-card margin-t-small padding-medium">
      <div class="col-xs-96 col-xs-offset-2 col-sm-90 col-sm-offset-5 margin-t-medium text-center">
        <h1 class=" margin-b-small">Ooops!</h1>
        <h2 class="margin-b-medium">You blew up the internet</h2>
        <svg width="300" height="300" v-svg="'explosion'"></svg>
        <p class="margin-b-small margin-t-medium">
          The page you are looking for is no longer here, or never existed in the first place (bummer).
          You can try searching for what you are looking for using the form below.
          If that still doesn't provide the results you are looking for, you can always start over from the home page.
        </p>
        <div class="col-xs-90 col-xs-offset-5 col-sm-80 col-sm-offset-10 col-md-60 col-md-offset-20 margin-t-medium">
          <input class="component_search" type="text" placeholder="search the site instead">
        </div>
      </div>

    </div>
  </div>
</template>
