/*! Badges */

.badge {
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  color: var(--badge-color);
  background-color: var(--badge-bg-color-primary);
  border-radius: var(--badge-border-radius);
  padding: var(--badge-spacing-y) var(--badge-spacing-x);
  vertical-align: baseline;
  display: inline-block;
}

.badge:empty {

  display: none;
}

.badge-success {
  background-color: var(--badge-bg-color-success);
}

.badge-info {
  background-color: var(--badge-bg-color-info);
}

.badge-warning {
  background-color: var(--badge-bg-color-warning);
}

.badge-danger {
  background-color: var(--badge-bg-color-danger);
}

.badge-inverse {
  background-color: var(--badge-bg-color-inverse);
}

.new-asker-badge {
  position: absolute;
  top: 4px;
  right: 25px;
  font-size: 8px;
  border-radius: 0;
}
