/*! Buttons */

button,
.button {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-bg-color-primary);
  border-radius: var(--button-border-radius);
  border: none;
  height: var(--input-height);
  line-height: 1;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: calc(var(--component-spacing) * .5) calc(var(--component-spacing) * .75);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  display: inline-block;
  transition: .1s box-shadow, .1s background-color, .1s color;
}

.button-small {
  font-size: calc(var(--button-font-size) * .8);
  height: var(--input-height-small);
  padding: calc(var(--component-spacing) * .25) calc(var(--component-spacing) * .5);
}

.button-big {
  font-size: calc(var(--button-font-size) * 1.2);
  height: var(--input-height-big);
  padding: calc(var(--component-spacing) * .75) calc(var(--component-spacing) * 1);
}

.button-block {
  width: 100% !important;
  display: block;
}

.button-block + .button-block {
  margin-top: 1rem;
}
.button-with-svg{
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding: 5px 8px;
  border: 1px solid var(--color-teal);
  border-radius: 20px;
  color: #0dbfba;
  width: auto;
  text-decoration: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.button-with-svg svg{
  margin-right:5px;
}
.button-with-svg:hover{
  border-color: var(--color-primary);
  text-decoration: none;
  color:var(--color-primary);
}

button:focus {outline:0;}
button:hover,
.button:hover {
  color: var(--button-color);
  text-decoration: none;
  outline:none;
}

button:hover:not(:disabled),
.button:hover:not(.disabled) {
  box-shadow: var(--button-box-shadow-hover);
}

button:active:not(:disabled),
button.active:not(:disabled),
.button.active:not(.disabled) {
  color: var(--button-color);
  box-shadow: var(--button-box-shadow-active);
  outline:none;
}

button:disabled,
button.disabled,
.button.disabled {
  opacity: .5;
  cursor: not-allowed;
  outline:none;
}

.button-ghost{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: inherit;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: none;
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.button-ghost:hover,.button-ghost:active{
  box-shadow: none;
  color: var(--color-primary);
  opacity: .7;
}
.button-success { background-color: var(--button-bg-color-success); }
.button-info { background-color: var(--button-bg-color-info); }
.button-warning { background-color: var(--button-bg-color-warning); }
.button-danger { background-color: var(--button-bg-color-danger); }
.button-inverse { background-color: var(--button-bg-color-inverse); }

.button-link {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  box-shadow: none;
}

.button-link:hover:not(:disabled) {
  background-color: transparent;
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decoration-hover);
  box-shadow: none;
}

label.button input[type="file"] {
  display: none;
}
