.card-raised {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-raised:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-shadow-2{
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.11);
}
.card{
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.03);
}
.card-overlap{
  margin-top: -80px;
}
