.direct-chat-name {
  margin-bottom: 0;
  margin-right: 1rem;
  font-weight: 600;
  font-size: 15px;
}

.direct-chat-user-info {
  position: relative;
  float: left;
  padding: 10px;
  background-color: rgba(127, 219, 255, 0.28);
  border-radius: 8px;
  max-width: 600px;
}

.direct-chat-info {
  float: right;
  padding: 10px;
  background-color: rgba(245, 222, 179, 0.42);
  border-radius: 8px;
  max-width: 600px;
}

.reply-avatar .avatar {
  float: right;
}

.text-box {
  display: inline-block;
  width: 100%;
}

.reply-box {
  position: relative;
  width: 100%;
  min-height: 40px;
  margin: 10px 0 auto;
  display: inline-block;
  border: 1px solid var(--color-silver);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.reply-box:active, .reply-box:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--color-primary);
}

.reply-box:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--color-silver);
  font-size: .8rem;
  max-height: 70px;
  opacity: .9;
  outline: none;
  box-shadow: none;
  content: 'Type message and hit ENTER';
}

.reply-box:active::after, .reply-box:focus::after {
  visibility: hidden;
}

.reply-box:not(:valid) ~ {
  display: none;
}

.text-box span.help-block {
  font-style: italic;
  font-size: 15px;
  color: var(--color-orange);
  font-weight: 500;
}

.modal-footer {
  display: inline-block;
  width: 100%;
}

.modal-footer button {
  font-size: 14px;
  padding: 4px 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  background: transparent;
  color: var(--color-dark-blue);
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.modal-footer button.push-btn {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.result_box {
  z-index: 1 !important;
  padding: 5px;
  height: 40%;
  position: absolute;
  left: 4%;
  top: 67%;
  width: 92%;
}

ul.search_results {
  padding-left: 0px;
  background: #fff;
  list-style: none;
  border: 1px solid #43D1AF;
}

ul.search_results li {
  font-size: 15px;
  padding: 5px 0 5px 10px;
  text-align: left;
  cursor: pointer;
}

ul.search_results li:hover {
  background-color: #3c8dbc;
  color: #fff;
}

div.push-modal {
  margin-top: 30px;
  background-color: var(--color-silver);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;

}

//div.push-modal select {
//  height: 30px;
//
//}

.attach_button {
  display: inline-block;
}

.button3 {
  background-color: transparent;
  color: black;
  border: none;
  box-shadow: none;
  font-weight: 500;
  float: right;
  position: absolute;
  top: 35px;
  right: 7px;
  z-index: 999;
  cursor: pointer;
}

.button3:hover, .button3:active {
  color: white;
  background-color: transparent;
  box-shadow: none !important;
}

.modal-footer button.send-push {
  color: var(--color-white);
  box-shadow: none;
  border-radius: 5px;
  background-color: var(--color-primary);
}

.modal-footer button.send-push:hover {
  background-color: var(--color-primary);
  opacity: .9;
}

div.push-content {
  position: absolute;
  right: 0;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
  min-height: 250px;
  z-index: 1;
}

.aat-type-switch.open > div {
  padding: 5px 10px;
}

.aat-type-switch.open > div {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  display: inline-table;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 74px;
  background: white;
  border-radius: 5px;
  z-index: 9999;
}

.aat-type-switch.open p {
  border-bottom: 1px solid var(--color-silver);
  margin-bottom: .3rem;
}

.aat-type-switch.open p:last-of-type {
  border-bottom: none;
}

.aat-type-switch p {
  display: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--color-primary);
}

.aat-type-switch p.active, .aat-type-switch.open p {
  display: block;
  padding: 0 5px;
  width: 100%;
}

.aat-type-switch p.active::after {
  content: '\25BC';
  font-family: var(--font-system);
  font-size: .8em;
  vertical-align: middle;
  margin-left: .8em;
  display: inline-block;
  transform: scaleY(0.75);
}

.aat-chat-tabs a.assist-tab {
  display: none;
}

.aat-chat-tabs a.feedback-tab {
  display: none;
}

.aat-type-tabs-open {
  margin-top: 45px;
}

.aat-back-icon {
  position: absolute;
  opacity: .08;
  left: 0;
  top: 50%;
  z-index: 99;
}

.asks-container {
  position: relative;
  background-color: transparent;
  z-index: 999;
}

.msg-channel-icon {
  position: absolute;
  right: 0;
  top: 4px;
}

.questions-holder-loader {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.95);
  padding: 8px;
}

.side-msg-loader {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  background-color: var(--color-silver);
  height: 100%;
  width: 100%;
  opacity: .7;
  z-index: 999;
  padding-top: 100px;
}

.reply-icon {
  position: absolute;
  right: 5px;
  top: 1px;
  color: var(--color-gray);
  font-size: 15px;
  cursor: pointer;
}

.current-reply {
  background-color: var(--color-silver);
  opacity: .85;
}

@media (max-width: 767px) {
  .modal-footer button {
    right: 0;
  }
}

@media screen and (max-height: 500px) {
  .questions-holder {
    overflow-y: scroll;
    max-height: 350px;
  }
}

@media screen and (max-height: 800px) {
  .questions-holder {
    overflow-y: scroll;
    max-height: 430px;
  }
}

@media screen and (min-height: 900px) {
  .questions-holder {
    overflow-y: scroll;
    max-height: 650px;
  }
}

@media screen and (min-height: 1000px) {
  .questions-holder {
    overflow-y: scroll;
    max-height: 750px;
  }
}
