/*! Dropdowns */

.dropdown {
  position: relative;
  display: inline-block;
}
//test how users will react after removing
//.dropdown-trigger::after {
//  content: '▼';
//  font-family: var(--font-system);
//  font-size: .7em;
//  vertical-align: middle;
//  right: .1rem;
//  display: inline-block;
//  position: absolute;
//  top: 50%;
//  transform: translateY(-50%);
//}

.dropdown-top .dropdown-trigger::after {
  transform: scaleY(.75) rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + var(--dropdown-offset-y));;
  right: var(--dropdown-offset-x);
  z-index: var(--dropdown-z-index);
  min-width: var(--dropdown-min-width);
  max-width: var(--dropdown-max-width);
  max-height: var(--dropdown-max-height);
  background-color: var(--dropdown-bg-color);
  border: solid var(--dropdown-border-width) var(--dropdown-border-color);
  border-radius: var(--dropdown-border-radius);
  box-shadow: var(--dropdown-box-shadow);
  padding: calc(var(--dropdown-spacing-y) / 2) 0;
}
.dropdown-menu::after{
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid var(--dropdown-bg-color);
  position: absolute;
  top: -7px;
  z-index: 9999;
  right: 5px;
  content: '';
}
.dropdown-menu .dropdown-item{
  cursor: pointer;
  margin-bottom: 0;
}
.dropdown-top .dropdown-menu {
  top: auto;
  bottom: calc(100% + var(--dropdown-offset-y));;
}

.dropdown-left .dropdown-menu {
  left: auto;
  right: var(--dropdown-offset-x);
}

.dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  position: relative;
  color: var(--dropdown-color);
  text-decoration: none;
  padding: var(--dropdown-spacing-y) calc(var(--dropdown-spacing-x) + .5em);
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu a:hover:not(.disabled) {
  color: var(--dropdown-color-hover);
  background-color: var(--dropdown-bg-color-hover);
}

.dropdown-menu a.disabled {
  cursor: not-allowed;
  opacity: .5;
}

.dropdown-menu a.checked::before {
  position: absolute;
  left: calc(var(--dropdown-spacing-x) / 2 - .1em);
  content: '✓';
  font-family: var(--font-system);
  font-weight: 600;
}

.dropdown-menu hr {
  width: 100%;
  border-top: solid var(--dropdown-divider-border-width) var(--dropdown-divider-border-color);
  margin: calc(var(--dropdown-spacing-y) / 2) 0;
}
.dropdown.user-menu .dropdown-trigger{
  display: inline-block;
  width: auto;
  border-radius: 30px;
  padding: 5px;
  position: relative;
}
.dropdown.user-menu .dropdown-trigger .user-image{
  float: left;
  margin-right: 8px;
}
.dropdown .user-footer button{
  display: block;
  width: 50%;
  margin: 5px auto;
}

