/*! Forms */

fieldset {
  border: solid var(--fieldset-border-width) var(--fieldset-border-color);
  border-radius: var(--fieldset-border-radius);
  padding: var(--component-spacing) calc(var(--component-spacing) * 1.5);
  margin-bottom: 1rem;
}

fieldset legend {
  font-weight: var(--font-weight-bold);
  padding: 0 .25rem;
}

label {
  display: inline-block;
  margin-bottom: .25rem;
}

label + label {
  margin-left: 1rem;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  width: 100%;
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  color: var(--input-color);
  border: none;
  border-bottom: solid var(--input-border-width) var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
  background-color: var(--input-bg-color);
  height: var(--input-height);
  line-height: 1;
  vertical-align: middle;
  display: block;
  padding-left: calc(var(--component-spacing) * .5);
  padding-right: calc(var(--component-spacing) * .5);
  margin-bottom: var(--input-margin-bottom);
  transition: .1s border-color, .1s background-color, .1s color;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--input-border-focus-color);
}

select {
  position: relative;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='26px' viewBox='0 0 41 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path-3' fill='%23000000' points='0 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right .4rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: calc(var(--component-spacing) * .5 + 1rem);
}

textarea {
  height: auto;
  resize: vertical;
  line-height: var(--line-height);
  white-space: normal;
}

input[type="color"] {
  padding: calc(var(--component-spacing) * .5);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: var(--input-border-radius);
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[disabled],select[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

input[readonly] {
  background-color: var(--input-readonly-bg-color);
}

input.input-small,
select.input-small {
  font-size: calc(var(--input-font-size) * .8);
  height: var(--input-height-small);
}

textarea.input-small {
  font-size: calc(var(--input-font-size) * .8);
}

input.input-big,
select.input-big {
  font-size: calc(var(--input-font-size) * 1.2);
  height: var(--input-height-big);
}

textarea.input-big {
  font-size: calc(var(--input-font-size) * 1.2);
}

/* Range styles courtesy of http://danielstern.ca/range.css/ */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 1rem 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: .5rem;
  cursor: pointer;
  background: var(--input-range-track-color);
  border-radius: var(--input-border-radius);
  border: none;
  box-shadow: var(--input-range-track-box-shadow);
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--input-range-thumb-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.5rem;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--input-range-track-color);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: .5rem;
  cursor: pointer;
  background: var(--input-range-track-color);
  border-radius: var(--input-border-radius);
  border: none;
  box-shadow: var(--input-range-track-box-shadow);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--input-range-thumb-color);
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: .5rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #2f6ea5;
  border: none;
  border-radius: var(--input-border-radius);
}

input[type="range"]::-ms-fill-upper {
  background: var(--input-range-track-color);
  border: none;
  border-radius: var(--input-border-radius);
}

input[type="range"]::-ms-thumb {
  border: none;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  background: var(--input-range-thumb-color);
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--input-range-track-color);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--input-range-track-color);
}

/* Progress bars */
progress {
  width: 100%;
  vertical-align: middle;
}

/* Input fields */
.input-single {
  margin-bottom: 1rem;
}

/* Input groups */
.input-group {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.input-group > input,
.input-group > button,
.input-group > .button {
  border-radius: 0;
}

.input-group > input:first-child,
.input-group > button:first-child,
.input-group > .button:first-child {
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

.input-group > input:last-child,
.input-group > button:last-child,
.input-group > .button:last-child {
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}

.input-group > input + input {
  border-left-width: 0;
}

.input-group > input + input:focus {
  border-left-width: var(--input-border-width);
  margin-left: calc(var(--input-border-width) * -1);
}

/* Input addons */
.input-addon {
  color: var(--text-muted);
  height: var(--input-height);
  line-height: var(--input-height);
  border-top: solid var(--input-border-width) var(--input-border-color);
  border-bottom: solid var(--input-border-width) var(--input-border-color);
  background: #f8f8f8;
  padding: 0 calc(var(--component-spacing) * .5);
  white-space: nowrap;
}

.input-addon-small {
  font-size: calc(var(--input-font-size) * .8);
  height: var(--input-height-small);
  line-height: var(--input-height-small);
}

.input-addon-big {
  font-size: calc(var(--input-font-size) * 1.2);
  height: var(--input-height-big);
  line-height: var(--input-height-big);
}

.input-addon:first-child {
  border-left: solid var(--input-border-width) var(--input-border-color);
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

.input-addon:last-child {
  border-right: solid var(--input-border-width) var(--input-border-color);
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}
.input-date{
  background-color: transparent !important;
}
/* Validation */
.input-invalid label {
  color: var(--input-invalid-color) !important;
}

.input-invalid,
.input-invalid input,
.input-invalid select {
  color: var(--input-invalid-color) !important;
  border-color: var(--input-invalid-border-color) !important;
}

.input-valid label {
  color: var(--input-valid-color) !important;
}

.input-valid,
.input-valid input,
.input-valid select {
  color: var(--input-valid-color) !important;
  border-color: var(--input-valid-border-color) !important;
}
