.hill-center-o {
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent #fdeded;
}
.hill-center{
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  border-color: #fdeded;
  width: 80%;
}
.hill-left {
  z-index: 5;
  left: 0;
  border-color: transparent transparent #f5f5f5 #f5f5f5;
}

.hill-right {
  z-index: 4;
  right: 0;
  border-color: transparent #d3ebf3 #d3ebf3 transparent;
}

.hill {
  position: absolute;
  top: 0;
  margin-top: -150px;
  border-width: 10em 20em;
  border-style: solid;
}

@media only screen and (max-device-width: 768px) {
  .hill {
    border-width: 7.2em 8em;
  }
}
