/*! Loaders */

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader,
.loader-bg::after {
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;
  border: solid var(--loader-border-width) var(--loader-bg-color);
  border-top-color: var(--loader-border-color);
  border-left-color: var(--loader-border-color);
  display: inline-block;
  animation: loader var(--loader-speed) linear infinite;
  vertical-align: middle;
  margin: var(--loader-spacing-y) var(--loader-spacing-x);
}

.loader-small,
.loader-bg-small::after {
  border-width: calc(var(--loader-border-width) / 2);
  width: calc(var(--loader-size) / 2);
  height: calc(var(--loader-size) / 2);
}

.loader-big,
.loader-bg-big::after {
  border-width: calc(var(--loader-border-width) * 1.5);
  width: calc(var(--loader-size) * 2);
  height: calc(var(--loader-size) * 2);
}

.loader-bg {
  position: relative !important;
}

.loader-bg::after {
  content: '';
  position: absolute;
  top: calc(50% - var(--loader-size) / 2);
  left: calc(50% - var(--loader-size) / 2);
  margin: 0;
}

.loader-bg-small::after {
  position: absolute;
  top: calc(50% - var(--loader-size) / 4);
  left: calc(50% - var(--loader-size) / 4);
}

.loader-bg-big::after {
  position: absolute;
  top: calc(50% - var(--loader-size) / 1);
  left: calc(50% - var(--loader-size) / 1);
}

.main-loader.loader-bg {
  position: fixed !important;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader-container {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;

}

.loader-container::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  opacity: .3;
  z-index: 9;
}

/* book loading screen */
$book-back: #ecf0f1;
$clouds: rgba(209, 30, 67, 0.18);

.book {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid $clouds;
  width: 100px;
  height: 60px;
  z-index: 10;
}

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid $clouds;
  border-bottom: 5px solid $clouds;
  border-right: 5px solid $clouds;
  background: $book-back;
  width: 50px;
  height: 60px;
  transform-origin: 0% 50%;
  animation: flip 1.2s infinite linear;
  animation-fill-mode: forwards;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      z-index: -$i;
      animation-delay: .3s*$i;
    }
  }
}

@keyframes flip {
  0% {
    transform: perspective(600px) rotateY(-0deg);
  }

  20% {
    background: darken($book-back, 10%);
  }

  29.9% {
    background: darken($book-back, 10%);
  }
  30% {
    transform: perspective(200px) rotateY(-90deg);
    background: $book-back;
  }

  54.999% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }

  60% {
    transform: perspective(200px) rotateY(-180deg);
    background: $book-back;
  }

  100% {
    transform: perspective(200px) rotateY(-180deg);
    background: $book-back;
  }
}

/*! Progress Bars */

.progress {
  position: relative;
  width: 100%;
  height: var(--progress-height);
  line-height: var(--progress-height);
  font-size: var(--progress-font-size);
  background-color: var(--progress-bg-color);
  border-radius: var(--progress-border-radius);
  display: block;
  overflow: hidden;
  margin-bottom: 1.5rem;
  box-shadow: var(--progress-box-shadow);

  & .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    text-align: center;
    color: var(--progress-color);
    background-color: var(--progress-bar-color);
    transition: var(--progress-speed) width;
    user-select: none;
    cursor: default;
  }

  &.progress-indeterminate .progress-bar {
    width: 75% !important;
    animation: progress-indeterminate ease-in-out var(--progress-speed-indeterminate) infinite;
  }

  /* Sizes */
  &.progress-xs {
    font-size: var(--progress-font-size-xs);
    height: var(--progress-height-xs);
    line-height: var(--progress-height-xs);
  }

  &.progress-sm {
    font-size: var(--progress-font-size-sm);
    height: var(--progress-height-sm);
    line-height: var(--progress-height-sm);
  }

  &.progress-lg {
    font-size: var(--progress-font-size-lg);
    height: var(--progress-height-lg);
    line-height: var(--progress-height-lg);
  }

  &.progress-xl {
    font-size: var(--progress-font-size-xl);
    height: var(--progress-height-xl);
    line-height: var(--progress-height-xl);
  }

  /* Variations */
  &.progress-secondary {
    & .progress-bar {
      background-color: var(--state-secondary);
    }
  }

  &.progress-success {
    & .progress-bar {
      background-color: var(--state-success);
    }
  }

  &.progress-info {
    & .progress-bar {
      background-color: var(--state-info);
    }
  }

  &.progress-warning {
    & .progress-bar {
      background-color: var(--state-warning);
    }
  }

  &.progress-danger {
    & .progress-bar {
      background-color: var(--state-danger);
    }
  }

  &.progress-light {
    background-color: var(--state-dark);

    & .progress-bar {
      color: var(--state-dark);
      background-color: var(--state-light);
    }
  }

  &.progress-dark {
    background-color: var(--state-light);

    & .progress-bar {
      color: var(--state-light);
      background-color: var(--state-dark);
    }
  }
}

@keyframes progress-indeterminate {
  0% {
    left: -65%;
  }

  50% {
    left: 90%;
  }

  100% {
    left: -65%;
  }
}
