/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 60px;
  background: var(--color-gray);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--color-gray);
}
