<template>
  <div class="col-xs-100 col-sm-94 col-sm-offset-3 card padding-t-small">
    <div
      class="form-content padding-small col-xs-100 col-sm-70 col-sm-offset-15 col-md-50 col-md-offset-25 create-user-form">
      <h3 class="text-center margin-b-small">Create New User</h3>
      <form @submit.prevent="create_user">
        <div class="col-xs-100 margin-b-tiny flex-center">
          <label class="text-medium col-xs-30">Name</label>
          <input v-validate="'required'" name="name" type="text" placeholder="Name of the user"
                 v-model="new_user.name"/>
        </div>
        <div class="col-xs-100 margin-b-tiny flex-center">
          <label class="text-medium col-xs-30">Email</label>
          <input v-validate="'required'" name="email" type="email" placeholder="Users Email Address"
                 v-model="new_user.email"/>
        </div>
        <div class="col-xs-100 margin-b-tiny flex-center">
          <label class="text-medium col-xs-30">Mobile Number</label>
          <input name="mobile_number" type="text" placeholder="Users Mobile Number"
                 v-model="new_user.mobile_number"/>
        </div>
        <div class="col-xs-100 margin-b-tiny flex-center">
          <label class="text-medium col-xs-30">Consumer</label>
          <select v-model="new_user.consumer_id" v-validate="'required'">
            <option value="1">Safaricom</option>
            <option value="0">Eneza</option>
            <option value="4">Ghana</option>
          </select>
        </div>
        <div class="col-xs-100 margin-b-tiny flex-center">
          <label class="text-medium col-xs-30">User Type</label>
          <select v-model="new_user.user_type" v-validate="'required'">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="parent">Parent</option>
          </select>
        </div>
        <div class="col-xs-100 margin-b-tiny flex-center">
          <label class="text-medium col-xs-30">Country</label>
          <v-select v-validate="'required'" :options="countries" v-model="new_user.country_id"></v-select>
        </div>
        <div class="col-xs-100 margin-b-tiny flex-center">
          <label class="text-medium col-xs-30">Roles</label>
          <v-select v-validate="'required'" multiple :options="$store.state.user_mngmt.create_roles" v-model="new_user.roles"></v-select>
        </div>
        <div class="margin-b-big ">
          <button class="button-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    data() {
      return {
        new_user: {
          name: '',
          email: '',
          mobile_number: '',
          consumer_id: 1,
          country_id: '',
          user_type: 'student',
          users_meta: {
            channel: 'web'
          },
          roles: []

        },
        countries: [
          {value: 115, label: 'Kenya'},
          {value: 83, label: 'Ghana'},
          {value: 222, label: 'Tanzania'},
        ],
        roles: this.$store.state.user_mngmt.create_roles


      }
    },
    methods: {
      create_user() {
        let inst = this
        inst.$validator.validateAll().then(function (success) {
          if (!success) {
            return
          }
          else {
            inst.new_user.country_id = inst.new_user.country_id.value
            let roles_ = inst.new_user.roles, save_roles = {}

            roles_.forEach(function (role) {
              let role_name = role.value.split('.')[1],
                microservice = role.value.split('.')[0]
              if (save_roles.hasOwnProperty(microservice)) {
                save_roles[microservice].push(role_name)
              } else {
                save_roles[microservice] = [
                  role_name
                ]
              }
            })
            inst.new_user.roles = save_roles
            inst.$store.dispatch('createUser', {new_user: inst.new_user}).then(() => {
              inst.$router.push('/users')
            }).catch(error => console.error(error))
          }
        })

      },
    },
    mounted: function () {
      this.$store.dispatch('loadAllRoles').then(() => {
      }).catch(error => console.error(error))
    },
    computed: {
      ...mapGetters([
        'getCreateRoles',
        'getAllRoles'
      ])
    }
  }
</script>
