<template>
  <div class="custom-actions">
    <svg width="20" height="20" class="icon" v-svg="'interface-2'" @click="itemAction('view-item', rowData)"></svg>
    <svg width="20" height="20" class="icon" v-svg="'edit'" @click="itemAction('edit-item', rowData)"></svg>
    <!--<svg width="20" height="20" class="icon" v-svg="'interface-1'" @click="itemAction('delete-item', rowData)"></svg>-->
  </div>
</template>

<script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
    },
    methods: {
      itemAction (action, data) {
        if (action === 'edit-item') {
          this.$router.push('user/'+ data.id)
        }
      }
    }
  }
</script>

