<template>
  <div class="padding-x-small">
    <transition name="fade">
      <div class="col-xs-100">
        <table class="table-striped">
          <tr>
            <td><b>Name:</b></td>
            <td><input type="text" v-model="rowData.name"
                       :focus="focused" @focus="focused = true"
                       @blur="updateDetail({name : rowData.name})"/>
            </td>
            <td><span class="loader loader-small" v-if="saving"></span></td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td><input type="text" v-model="rowData.email"
                       :focus="focused" @focus="focused = true"
                       @blur="updateDetail({email : rowData.email})"/></td>
          </tr>
          <tr>
            <td><b>Number:</b></td>
            <td><input type="text" v-model="rowData.mobile_number"
                       :focus="focused" @focus="focused = true"
                       @blur="updateDetail({mobile_number : rowData.mobile_number})"/></td>
          </tr>
          <tr>
            <td><b>M-prep ID:</b></td>
            <td><input type="text" v-model="rowData.mprepid"
                       :focus="focused" @focus="focused = true"
                       @blur="updateDetail({mprepid : rowData.mprepid})"/></td>
          </tr>
          <tr>
            <td><b>Consumer:</b></td>
            <td><input type="text" v-model="rowData.consumer.name" disabled/></td>
          </tr>
          <tr>
            <td><b>Country:</b></td>
            <td><input type="text" v-model="rowData.consumer.country" disabled/></td>
          </tr>
          <tr>
            <td><b>Type:</b></td>
            <td><input type="text" v-model="rowData.user_type" disabled/></td>
          </tr>
          <tr>
            <td><b>Joined:</b></td>
            <td>{{rowData.created_at}}</td>
          </tr>
          <tr>
            <td><b>Last Updated:</b></td>
            <td>{{rowData.updated_at}}</td>
          </tr>
        </table>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data(){
      return{
        focused: false,
        saving: false
      }
    },
    props: {
      rowData: {
        type: Object,
        required: true
      },
    },
    methods: {
      updateDetail(detail){
        this.focused = !this.focused
        this.saving = !this.saving
        this.$store.dispatch('editUserDetails',{user_id:this.rowData.id,updated_detail:detail})
          .then(() => {})
          .catch(error => {
            console.error(error)
          })
      }
    }
  }
</script>
