<template>
  <div class="col-xs-100 margin-b-small">
    <div class="col-xs-89 col-xs-offset-0 col-sm-65 col-sm-offset-15 col-md-55 col-md-offset-20 padding-t-small">
      <input type="search" v-model="searchText" class="component_search" placeholder="Search for user"
             @keyup="filter_users()" autocomplete="off"/>
    </div>
    <div class="float-left col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-15 col-md-20 padding-t-small"
         @mouseover="mouseOver" @mouseleave="mouseOut">
      <button class="button button-ghost text-small" @click="$router.push('users/create')">
        <i class="mdi mdi-account-plus"></i>
        <span class="hidden-xs padding-l-small">Add User</span>
      </button>
    </div>
    <div class="col-xs-100 col-sm-80 col-sm-offset-10 padding-t-small">
      <div class="col-xs-50 col-sm-35 flex-center padding-small">
        <label class="col-xs-30 text-small">Consumer</label>
        <select v-model="consumer_id" class="text-small" @change="filter_users()">
          <option value="all">All</option>
          <option value="0">Eneza</option>
          <option value="1">Safaricom</option>
          <option value="4">Ghana</option>
        </select>
      </div>
      <div class="col-xs-50 col-sm-35 flex-center padding-small">
        <label class="col-xs-30 text-small">User Type</label>
        <select v-model="user_type" class="text-small" @change="filter_users()">
          <option value="all">All</option>
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
          <option value="parent">Parent</option>
        </select>
      </div>
    </div>
  </div>

</template>

<script>
  import * as types from '../../../store/mutation_types'
  import {mapGetters} from 'vuex'

  export default {
    data() {
      return {
        searchText: '',
        addActive: false,
        consumer_id: 'all',
        user_type: 'all'
      }
    },
    methods: {
      resetSearchText() {
        if (this.searchText !== '') {
          this.searchText = ''
          this.$store.commit(types.CLEAR_USERS)
        }
        this.$store.dispatch('loadUsers', {url: types.USERS_BASE_URL})
      },
      mouseOver() {
        this.addActive = true
      },
      mouseOut() {
        this.addActive = false
      },
      filter_users() {
        let consumer_id = this.consumer_id,
          user_type = this.user_type,
          searchText = this.searchText,
          url_ = types.USERS_BASE_URL,
          params = {},
          i = 0

        if (searchText.length > 0) params.search = searchText
        if (consumer_id != 'all') params.consumer_id = consumer_id
        if (user_type != 'all') params.user_type = user_type

        for(var key in params) {
          var param = params[key]
          url_ = i === 0 ?  url_ + '?'+key+'=' + param : url_+ '&'+key+'='+param
          i++
        }
        this.$store.commit(types.LOADING_DATA_TB)
        this.$store.dispatch('loadUsers', {url: url_, type: 'search'})
      }
    },
    computed: {
      ...mapGetters([
        'getDataTableLoadStatus',
      ])
    }
  }
</script>
