<template>
    <div class="row">
      <div class="col"><p>Showing {{pageInfo.from }} to {{ pageInfo.to }} of {{ pageInfo.total }} users</p></div>
      <div class="col float-right">
        <span  v-if="pageInfo.current_page !== 1" @mouseover="prevActive=true" @mouseleave="prevActive=false">
        <svg v-show="prevActive" width="21" height="21" class="icon" v-svg="'arrows-2'"
             @click="prevPage(pageInfo.current_page)">
        </svg>
          <svg v-show="!prevActive" width="21" height="21" class="icon" v-svg="'left-arrow'"
             v-if="pageInfo.current_page !== 1"
             @click="prevPage(pageInfo.current_page)">
        </svg>
          </span>
        <span>Page <input class="width-15" v-model="pageInfo.current_page" @keyup.enter="goToPage(pageInfo.current_page)"/> of {{ pageInfo.last_page }}</span>
        <span  @mouseover="nextActive=true" @mouseleave="nextActive=false">
          <svg v-show="nextActive" width="21" height="21" class="icon" v-svg="'arrows-3'"
               @click="nextPage(pageInfo.current_page)"></svg>
          <svg v-show="!nextActive" width="21" height="21" class="icon" v-svg="'right-arrow'"
               @click="nextPage(pageInfo.current_page)"></svg>
        </span>
    </div>
    </div>
</template>

<script>
  import * as types from '../../../store/mutation_types'
  import { mapGetters } from 'vuex'

  export default {
    data(){
      return{
        nextActive:false,
        prevActive:false
      }
    },
    props: {
      pageInfo: {
        type: Object,
        required: true
      },
    },
    methods: {
      nextPage(current_page){
        let next_page_url = types.USERS_BASE_URL+'?page='+ (current_page + 1)
        this.$store.commit(types.LOADING_DATA_TB)
        this.$store.dispatch('loadUsers',{url:next_page_url})
          .then(()=>{console.log('next page loaded')})
          .catch(error=>{console.log(error)})
      },
      prevPage(current_page){
        if (current_page !== 1){
          let prev_page = current_page -1
          let next_page_url = types.USERS_BASE_URL+'?page='+ (prev_page)
          if (prev_page !== 1){
            this.$store.commit(types.LOADING_DATA_TB)
          }
          this.$store.dispatch('loadUsers',{url:next_page_url})
            .then(()=>{console.log('previous page loaded')})
            .catch(error=>{console.error(error)})
        }
      },
      goToPage(entered_page){
        let next_page_url = types.USERS_BASE_URL+'?page='+ (entered_page)
        this.$store.commit(types.LOADING_DATA_TB)
        this.$store.dispatch('loadUsers',{url:next_page_url})
          .then(()=>{console.log('page' + entered_page + 'loaded')})
          .catch(error=>{console.error(error)})
      }

    },
    computed: {
      ...mapGetters([
        'getDataTableLoadStatus',
      ])
    }
  }
</script>

