 <template>
    <div class=" container-fluid card-shadow bounce">
      <div class="form-content padding-small col-xs-100 col-sm-70 col-sm-offset-15 col-md-50 col-md-offset-25">
        <h3 class="text-center margin-b-small">Update {{ getDetailedUser.name }}</h3>
        <form @submit.prevent="updateUser">
          <div class="col-xs-100 margin-b-small">
            <label class="col-xs-100 padding-x-small">Name
              <input v-validate="'required'" name="name" type="text" placeholder="Name of the user" v-model="getDetailedUser.name"/>
            </label>
          </div>
          <div class="col-xs-100 margin-b-small">
            <label class="col-xs-100 padding-x-small">Email
              <input v-validate="'required'" name="email" type="email" placeholder="Users Email Address" v-model="getDetailedUser.email"/>
            </label>
          </div>
          <div class="col-xs-100 margin-b-small">
            <label class="col-xs-100 padding-x-small">Mobile Number
              <input v-validate="'required'" name="mobile_number" type="text" placeholder="Users Mobile Number"
                     v-model="getDetailedUser.mobile_number"/>
            </label>
          </div>
          <div class="col-xs-100 margin-b-small">
            <label class="col-xs-100 padding-x-small">Consumer
              <select v-model="getDetailedUser.consumer_id">
                <option value="1">Safaricom</option>
                <option value="0">Eneza</option>
                <option value="4">Ghana</option>
              </select>
            </label>
          </div>
          <div class="col-xs-100 margin-b-big">
            <label class="col-xs-100 padding-x-small">User Type
              <select v-model="getDetailedUser.user_type">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="parent">Parent</option>
              </select>
            </label>
          </div>
          <div class="col-xs-100 margin-b-big">
            <label class="col-xs-100 padding-x-small">Country
              <v-select class="padding-x-big" :options="countries" v-model="getDetailedUser.country.name"> </v-select>
            </label>
          </div>
          <div class="margin-b-big ">
            <button class="button-block" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </template>
<script>
  import {mapGetters} from 'vuex'
  export default {
    props: {
      id:{
        required: true
      }
    },
    data() {

      return {
        countries: [
          {value: 115, label: 'Kenya'},
          {value: 83, label: 'Ghana'},
          {value: 222, label: 'Tanzania'},
        ]
      }
    },

    methods: {
      updateUser (){
        this.$store.dispatch('editUserDetails', {updated_details:this.getDetailedUser})
          .then(() => {
            this.$router.push('/users')
          })
          .catch(error => {
            console.error(error)
          })
      }
    },
    mounted: function () {
      this.$store.dispatch('loadUserDetails',{id: this.id})
        .then(()=>{console.log('user loaded')})
        .catch(error=>{console.log(error)})
    },
    computed: mapGetters([
      'getDetailedUser'
    ]),
  }
</script>
