<template>
  <div class="col-xs-100 col-sm-94 col-sm-offset-3 card padding-t-small">
    <div class="col-xs-100">
      <filter-bar class="margin-b-small"></filter-bar>
    </div>
    <div class="col-xs-100">
      <div class="side-msg-loader"  v-if="getDataTableLoadStatus || typeof getUsers.data === 'undefined'">
        <div class="padding-t-small">
          <div class="loader loader-bg loader-bg-lg"></div>
          <p class="text-small text-bold text-center">Loading users...</p>
        </div>
      </div>
      <div class="col-xs-100 padding-x-medium" v-if="typeof(getUsers.data) !== 'undefined'">
        <div class="col-xs-100 hidden-xs text-bold text-black">
          <div class="col-xs-20 col-xs-offset-10">
            <p>Name</p>
          </div>
          <div class="col-xs-15">
            <p>Number</p>
          </div>
          <div class="col-xs-20">
            <p>Email</p>
          </div>
          <div class="col-xs-10">
            <p>Type</p>
          </div>
          <div class="col-xs-10">
            <p>Consumer</p>
          </div>
          <div class="col-xs-15">
            <p>Joined</p>
          </div>
        </div>
        <div class="col-xs-100 margin-b-small">
          <div class="col-xs-100 flex-center user-list-item" v-for="user in getUsers.data" :key="user.id" :user="user" @click="show(user.id)">
            <div class="col-xs-10">
              <avatar :username="(user.name) ? user.name : '(null)'" :size="35" class="float-right margin-r-small"></avatar>
            </div>
            <div class="col-xs-20">
              <span class="text-black text-bold">{{ (user.name) ? user.name : '(null)' }}</span>
            </div>
            <div class="col-xs-15">
              <span class="text-small">{{ (user.mobile_number) ? user.mobile_number : '(null)'}}</span>
            </div>
            <div class="col-xs-20">
              <span>{{ (user.email) ? user.email : '(null)' }}</span>
            </div>
            <div class="col-xs-10">
              <span class="text-small">{{ (user.user_type) ? user.user_type : '(null)' }}</span>
            </div>
            <div class="col-xs-10">
              <span class="text-small">{{ (user.consumer_id == 0 ) ? 'Eneza' : (user.consumer_id == 1 ) ? 'Safaricom' : (user.consumer_id == 4 ) ? 'Ghana' : 'Other' }}</span>
            </div>
            <div class="col-xs-15">
              <span class="text-small">{{ helpers.getTimeAgo(user.created_at)}}</span>
            </div>
          </div>
        </div>
        <transition name="slide">
          <div v-if="modal_open" class="col-xs-100 col-sm-35 user-details-sidebar height-100">
            <div class="side-msg-loader"  v-if="getLoadingUser">
              <div class="padding-t-small">
                <div class="loader loader-bg loader-bg-lg"></div>
                <p class="text-small text-bold text-center">Loading user details...</p>
              </div>
            </div>
            <a href="#" @click="hide()">
              <i class="mdi mdi-close close"></i>
            </a>
            <div  @mouseover="mouseOverD">
              <ViewEditModal :userDetails="getDetailedUser" ></ViewEditModal>
            </div>
          </div>
        </transition>
        <pagination :pageInfo="getUsers" class="margin-b-medium"></pagination>
      </div>
    </div>

  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import CustomActions from './CustomActions'
  import FilterBar from './FilterBar'
  import Pagination from './Pagination.vue'
  import ViewEditModal from './ViewEditModal.vue'
  import * as types from '../../../store/mutation_types'
  import helpers from '../../../helpers/helpers'
  import Loading from '../../dashboard/Loading.vue'
  import Avatar from 'vue-avatar/src/Avatar'

  export default {
    components: {
      CustomActions,
      FilterBar,
      Pagination,
      ViewEditModal,
      Loading,
      Avatar
    },
    data() {
      return {
        helpers: helpers,
        headers: [
          {
            name: 'name',
            title: 'Name',
            sortField: 'name'
          },
          {
            name: 'mobile_number',
            title: 'Mobile Number',
            sortField: 'mobile_number'
          },
          {
            name: 'email',
            title: 'Email',
            sortField: 'email'
          },
          {
            name: 'created_at',
            title: 'Joined',
          },
        ],
        active: false,
        modal_open:false
      }
    },
    mounted: function () {
      this.$store.dispatch('loadUsers', {url: types.USERS_BASE_URL}).
        then(() => {console.log('users loaded')}).
        catch(error => {console.log(error)})
    },
    methods: {
      show (user_id) {
        this.$store.dispatch('toggleDetailRow',{id:user_id})
        this.modal_open = true
      },
      hide () {
        this.modal_open = false
      },
      beforeClose () {
        this.$store.commit(types.CLEAR_DETAILS)
      },
      mouseOver(){
        this.active = true
      },
      mouseOverD(){
        this.active = false
      },
    },
    computed: {
      ...mapGetters([
        'getUsers',
        'getDetailRow',
        'getDetailedUser',
        'getDataTableLoadStatus',
        'getLoadingUser'
      ])
    }
  }
</script>
<style>
  tr:hover {
    cursor: pointer;
  }
</style>
