<template>
  <div class="col-xs-100 padding-small">
    <div v-if="typeof userDetails.id != 'undefined'" class="col-xs-100">
      <div class="col-xs-100 margin-b-small">
        <avatar :username="userDetails.name" :size="65" backgroundColor="#1c99c5" color="#fff"></avatar>
      </div>
      <div class="col-xs-100 margin-b-tiny">
        <input type="text" v-model="userDetails.name"
               :focus="focused" @focus="focused = true"
               @blur="updateDetail({name : userDetails.name})"
               class="text-center text-bold text-medium"/>
      </div>
      <div class="col-xs-100">
        <span class="text-bold text-muted text-small">Contacts</span>
      </div>
      <div class="col-xs-100 margin-b-tiny">
        <div class="col-xs-70 col-xs-offset-15 flex-center">
          <i class="mdi mdi-email text-bold text-small"></i>
          <input type="text" v-model="userDetails.email"
                 :focus="focused" @focus="focused = true"
                 @blur="updateDetail({email : userDetails.email})"
                 class="text-center text-small"/>
        </div>
      </div>
      <div class="col-xs-100 margin-b-tiny">
        <div class="col-xs-70 col-xs-offset-15 flex-center">
          <i class="mdi mdi-phone text-bold text-small"></i>
          <input type="text" v-model="userDetails.mobile_number"
                 :focus="focused" @focus="focused = true"
                 @blur="updateDetail({mobile_number : userDetails.mobile_number})"
                 class="text-center text-small"/>
        </div>
      </div>
      <div class="col-xs-100">
        <span class="text-bold text-muted text-small">M-prep ID</span>
      </div>
      <div class="col-xs-100 margin-b-tiny">
        <div class="col-xs-70 col-xs-offset-15 flex-center">
          <input type="text" v-model="userDetails.mprepid" disabled class="text-center text-small"/>
        </div>
      </div>
      <div class="col-xs-100">
        <span class="text-bold text-muted text-small">Consumer</span>
      </div>
      <div class="col-xs-100 margin-b-tiny">
        <div class="col-xs-70 col-xs-offset-15 flex-center">
          <select v-model="userDetails.consumer_id"
                  :focus="focused" @focus="focused = true"
                  @change="updateDetail({consumer_id : userDetails.consumer_id})"
                  class="text-center text-small">
            <option value="1">Safaricom</option>
            <option value="0">Eneza</option>
            <option value="4">Ghana</option>
          </select>
        </div>
      </div>
      <div class="col-xs-100">
        <span class="text-bold text-muted text-small">Country</span>
      </div>
      <div class="col-xs-100 margin-b-tiny">
        <div class="col-xs-70 col-xs-offset-15 flex-center">
          <select v-model="userDetails.country_id"
                  :focus="focused" @focus="focused = true"
                  @change="updateDetail({country_id : userDetails.country_id})"
                  class="text-center text-small">
            <option value="115">Kenya</option>
            <option value="83">Ghana</option>
          </select>
        </div>
      </div>
      <div class="col-xs-100">
        <span class="text-bold text-muted text-small">User Type</span>
      </div>
      <div class="col-xs-100 margin-b-tiny">
        <div class="col-xs-70 col-xs-offset-15 flex-center">
          <select v-model="userDetails.user_type"
                  :focus="focused" @focus="focused = true"
                  @change="updateDetail({user_type : userDetails.user_type})"
                  class="text-center text-small">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="parent">Parent</option>
          </select>
        </div>
      </div>
      <div class="col-xs-100">
        <span class="text-bold text-muted text-small">Roles</span>
      </div>
      <transition name="up">
        <div class="col-xs-100 margin-b-tiny user-roles">
        <span class="badge badge-success text-tiny margin-r-tiny" v-for="role in userDetails.roles">
           <span>{{role.display_name}}</span>
          <a href="#" @click="detachUser(userDetails.id,role)">
            <i class="mdi mdi-close text-black"></i>
          </a>
        </span>
        </div>
      </transition>
      <div class="col-xs-100 margin-b-small">
        <div class="col-xs-100">
            <span class="badge badge-info text-tiny add-role" @click="toggle_roles()">
              <i class="mdi mdi-plus"></i>
              <span>Add Role</span>
            </span>
        </div>
        <transition name="slide">
          <div class="col-xs-100 flex-center card-shadow user-roles-card" v-if="show_roles">
            <a class="close" @click="toggle_roles()">
              <i class="mdi mdi-close"></i>
            </a>
            <div class="col-xs-100 card-raised user-add-roles padding-small" v-if="roles.length > 0">
              <div class="col-xs-100" v-for="role in roles" @click="addUser(userDetails.id,role)">
                <span class="text-bold text-black text-small" @click="addUser(userDetails.id,role)">{{role.display_name}}</span>
                <a href="#" class="float-right" @click="addUser(userDetails.id,role)">
                  <i class="mdi mdi-plus-circle"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-100 flex-center">
              <input type="text" placeholder="search for role" class="margin-none padding-small component_search"
                     v-model="searchText" @keyup="searchRoles(searchText)"/>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  import Loading from '../../dashboard/Loading.vue'
  import Avatar from 'vue-avatar/src/Avatar'
  import {mapGetters} from 'vuex'

  export default {
    components: {
      Loading,
      Avatar
    },
    data() {
      return {
        focused: false,
        searchText: '',
        roles: [],
        show_roles: false
      }
    },
    props: {
      userDetails: {
        type: Object,
        required: true
      },
    },
    methods: {
      updateDetail(detail) {
        let user_id = this.userDetails.id,
          el = event.target,
          store_ = this.$store,
          inst_ = this
        inst_.focused = !inst_.focused
        store_.commit('TOGGLE_USER_SAVING')
        el.disabled = inst_.getSavingDetail
        store_.dispatch('editUserDetails', {'user_id': user_id, updated_detail: detail}).then(function (data) {
          setTimeout(function () {
            el.disabled = inst_.getSavingDetail
          }, 1300)
        })
      },
      detachUser(id, role) {

        let el = event.target,obj, role_details, details, role_name, microservice
        el.parentElement.parentElement.classList.add('disabled')
        obj = this.$store
        role_name = role.name.split('.')[1]
        microservice = role.name.split('.')[0]
        role_details = {
          [microservice]: [
            role_name
          ]
        }
        details = [id, role_details,role]

        obj.dispatch('detachUserRole', {'details': details})
      },
      searchRoles(searchText) {
        let all_roles = this.getAllRoles

        if (searchText.length < 1) {
          this.roles = []
        } else {
          let roles_ = this.filterBy(all_roles, searchText)

          this.userDetails.roles.forEach(function (role) {
            let idx = roles_.map(p => p.id).indexOf(role.id)
            if (Number.isInteger(idx) && (idx > -1)) {
              roles_.splice(idx, 1)
            }
          })
          this.roles = roles_

        }
      },
      addUser(id,role){
        let obj, role_details, details, role_name, microservice
        obj = this.$store
        role_name = role.name.split('.')[1]
        microservice = role.name.split('.')[0]
        role_details = {
          [microservice]: [
            role_name
          ]
        }
        details = [id, role_details,role]
        this.roles = []
        obj.dispatch('saveUserRole', {'details':details})
      },
      toggle_roles(){
        this.show_roles= !this.show_roles
      }
    },
    computed: {
      ...mapGetters([
        'getSavingDetail',
        'getAllRoles',
        'getSavingRole'
      ])
    }
  }

</script>
