/* dashboard */
input.component_search {
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 3px 35px;
  transition: all .4s linear;
}

.dash-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-collapse: collapse;
  position: relative;
  z-index: 99;
}

.dash-menu > div.dash-menu-item {
  min-height: 150px;
  border: 2px solid #eaedee;
  border-top: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.dash-menu > div:nth-of-type(4n), .dash-menu > div:last-of-type {
  border-right: none;
}

.dash-menu-item:nth-child(4n+1):nth-last-child(-n+4),
.dash-menu-item:nth-child(4n+1):nth-last-child(-n+4) ~ .dash-menu-item, .dash-menu > div:last-of-type {
  border-bottom: none;
}

.dash-menu > div.dash-menu-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-dark-blue);
}

.dash-menu > div.dash-menu-item img {
  width: 48px;
}

.dash-menu > div.dash-menu-item:hover {
  background-color: rgba(247, 247, 247, 0.3);
}

.dash-menu > div.dash-menu-item:hover p {
  font-size: 14px;
}

.dash-menu > div.dash-menu-item:hover .icon {
  width: 63px;
  height: 63px;
}

.dash-menu > div.dash-menu-item p, .dash-menu > div.dash-menu-item .icon, .dash-menu > div.dash-menu-item, .aat-chat-tabs a, .questions-holder, .direct-chat-msg {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dash-menu-item p {
  font-size: 15px;
  font-weight: 500;
}

.aat-chat-tabs {
  margin-bottom: 3px;
}

.aat-chat-tabs a {
  display: inline-block;
  font-size: .9rem;
  border-bottom: 2px solid var(--color-gray);
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 3px;
  text-align: center;
  cursor: pointer;
  color: var(--color-gray);
}

.aat-chat-tabs a.active {
  border-bottom: 2px solid var(--color-purple);
  color: var(--color-purple);
}

.aat-chat-tabs a span.badge {
  font-size: 10px;
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 200;
  padding: 3px 5px;
  border-radius: 10px;
  position: absolute;
  top: -12px;
  right: -2px;
  background-color: var(--color-gray);
}

.aat-chat-tabs a:nth-child(odd) span.badge {
  right: 7px;
}

.aat-chat-tabs a.active span.badge {
  background-color: var(--color-purple);
}

.aat-chat-tabs a svg {
  position: absolute;
  top: -10px;
  right: 18px;
}

.aat-chat-tabs .subject-tabs-container {
  position: relative;
  margin-bottom: 10px;
}

.direct-chat-msg {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 8px;
  border-bottom: 1px solid var(--color-gray);
}

.questions-holder .direct-chat-msg {
  background-color: var(--color-white);
  cursor: pointer;
}
.questions-holder .direct-chat-msg.active {
  background-color: #f5f5f5;
}

.questions-holder .direct-chat-msg:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}

.direct-chat-msg-avatar .badge {
  position: absolute;
  top: -6px;
  left: 34px;
}

.direct-chat-msg-avatar .badge.answered {
  background-color: var(--color-gray);
}

.direct-chat-msg-avatar .timer {
  position: absolute;
  top: -10px;
  left: 45px;
  font-size: 22px;
  color: var(--color-gray);
}

.direct-chat-msg-avatar .timer.urgent {
  color: var(--color-primary);
}

.direct-chat-msg-avatar .timer.intermediate {
  color: var(--color-orange);
}

.direct-chat-msg-avatar .timer.low {
  color: var(--color-green);
}

.message-area .chart-placeholder svg {
  display: block;
  margin: auto;
}

.message-area .chart-placeholder p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--color-dark-blue);
}

.aat-container {
  z-index: 999;
  position: relative;
}

.subjects-container {
  justify-content: flex-start !important;
}

/* Enter and leave animations*/
.slide-leave-active, .slide-enter-active {
  transition: all .4s ease-in-out;
}

.slide-enter, .slide-leave-to, .slide-leave-active
  /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(130%);
  opacity: 0;
}

.slide-up-leave-active, .slide-up-enter-active {
  transition: all .4s ease-in-out;
}

.slide-up-enter, .slide-up-leave-to, .slide-up-leave-active
  /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateY(-10px);
  opacity: 0;
}
/* Enter and leave animations*/
.slide-left-leave-active, .slide-enter-active {
  transition: all .4s ease-in-out;
}

.slide-left-enter, .slide-left-leave-to, .slide-left-leave-active
  /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(-130%);
  opacity: 0;
}

.user-list-item {
  min-height: 50px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.user-list-item:hover, .user-list-item:active,.user-details-sidebar:hover {
  box-shadow: 0 7px 6px rgba(0,0,0,0.18), 0 3px 6px rgba(0,0,0,0.23);
}

.user-list-item p {
  margin-bottom: 0;
}
.user-details-sidebar{
  position: fixed;
  right: 0;
  top: auto;
  bottom: 0;
  background-color: white;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 7px 6px rgba(0,0,0,0.18), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.user-details-sidebar a{
  display: inline-block;
}
.user-details-sidebar .close{
  font-size: 1.3rem;
  color: var(--color-gray);
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 999;
  cursor: pointer;
}
.user-details-sidebar .close:hover{
  color: var(--color-black);
}
.user-details-sidebar .avatar{
  margin: 5px auto;
}
.user-details-sidebar input{
  width: auto;
  height: auto;
  margin: 0 auto;
  min-width: 200px;
}
.user-details-sidebar i.mdi {
  color: var(--color-gray);
}
.user-details-sidebar .user-roles .badge, .create-user-form .user-roles .badge{
  width: auto;
  background-color: transparent;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}
.user-details-sidebar .user-roles .badge.disabled{
  opacity: .55;
}
.user-details-sidebar .user-roles .badge.disabled a{
  display: none;
}
.user-details-sidebar .add-role, .create-user-form .add-role {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-blue);
  cursor: pointer;
  border-radius: 30px;
}
.user-details-sidebar .add-role i, .create-user-form .add-role i{
  color: var(--color-white);
  font-size: 1rem;
}
.user-list-item > div > span{
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .95rem;
}
.user-roles-card{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: var(--color-white);
  padding: 8px;
}
.user-roles-card input{
  padding: 5px 15px !important;
  margin: 0 auto !important;
}
.user-add-roles{
  position: absolute;
  top: 0;
  transform: translateY(-80%);
  background-color: white;
  right: 0;
}
.user-add-roles > div{
  cursor: pointer;
}
.create-user-form .v-select .selected-tag{
  display: flex;
  align-items: center;
  font-size: .9rem;
}
.create-user-form .v-select .selected-tag button{
  margin-left: 5px;
}
.create-user-form .dropdown.v-select{
  width:100%;
}
@media only screen and (max-device-width: 768px) {

  .dash-menu > div:nth-of-type(2n) {
    border-right: none;
  }

  .dash-menu-item:nth-child(2n+1):nth-last-child(-n+2),
  .dash-menu-item:nth-child(2n+1):nth-last-child(-n+2) ~ .dash-menu-item, .dash-menu > div:last-of-type {
    border-bottom: none;
  }
  .main-dash-card {
    background-color: transparent;
    box-shadow: none;
    padding: 5px 8px !important;
    margin-top: 5px !important;
  }
  .dash-menu-item p {
    font-size: .9rem;
  }
  .user-details-sidebar{
    top: 0;
    right:0;
  }

}

@media only screen and (min-device-width: 768px) {

}
