img.avatar{
  border-radius: 50%;
}
.avatar{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.avatar:hover{
  box-shadow: 0 7px 6px rgba(0,0,0,0.18), 0 3px 6px rgba(0,0,0,0.23)
}
img.avatar-centered{
  border-radius: 50%;
  margin: auto;
  display: block;
  padding: 3px;
  border: 1px solid #CCCCCC;
}
.login-card{
  z-index: 99;
  margin-top: 5%;
}
input.component_search:active,input.component_search:focus{
  border-color: var(--color-primary);
}
.search-icon{
  position: absolute;
  left: 8px;
  top: 18%;
}
.connection-status{
  position: fixed;
  bottom: 30px;
  right: 10px;
  background: var(--color-silver);
  color: var(--color-gray);
  padding: 10px 25px;
  z-index: 99999;
  font-size: .95rem;
  transform: translateX(0);
}
.connection-status.hidden{
  transform: translateX(-130%);
}
@media only screen
and (max-device-width : 768px) {
  .login-card{
    display: inline-block;
    width: 100%;
    background: transparent;
    box-shadow: none;
  }
}
