.create-role-form{
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9999;
  background: var(--color-white);
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
}

.create-role-form div.form-content{
  z-index: 99;
  margin-top: 10%;
}
.usr-search{
  position: absolute;
  left: 0;
  top:33px;
  width: 100%;
  z-index: 99;
  background-color: white;

}
.usr-search-item{
  padding:5px 7px;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.usr-search-item:hover{
  background-color: rgba(238, 238, 238, 0.45);
}
.usr-search-item:after{
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width:90%;
  border-bottom: 1px solid var(--color-silver);
}
.usr-search-item .usr-avatar{
  margin-right: 6px;
}
.usr-search-item .usr-name{
  font-weight: bold;
  margin-right: 6px;
}
.usr-search-item .usr-email{
  font-weight: 100;
  font-size: 14px;
}
.usr-search .add-user, .usr-detail .usr-detach{
  position: absolute;
  right: 5px;
  border: none;
}
.usr-search .loader, .usr-detail .loader{
  position: absolute;
  right: 5px;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--color-silver);
  border-top-color: var(--color-primary);
  border-left-color: var(--color-primary);
}
.role-detail-card:nth-child(4n + 1){
  clear: both;
}
.role-detail-card a:hover,.role-detail-card a,.role-detail-card a:active{
  text-decoration: none;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8%);
  }

}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
