<template>
    <div class="container-fluid">
        <div class="col-xs-98 col-xs-offset-1 col-sm-80 col-sm-offset-10 col-md-70 col-md-offset-15 card main-dash-card margin-t-small padding-medium">
            <div class="col-xs-90 col-xs-offset-5 col-sm-80 col-sm-offset-10 col-md-60 col-md-offset-20 margin-t-small">
                <input class="component_search" type="text" placeholder="search for menu items" v-model="search">
            </div>
            <div class="col-xs-96 col-xs-offset-2 col-sm-90 col-sm-offset-5 margin-t-medium text-center dash-menu">
                <transition name="slide-up" v-for="item in filterBy(menuItems, search)" :key="item.title">
                  <div  class="col-xs-50 col-sm-25 dash-menu-item" v-if="$dashboard.isAllowed(item.permission)">
                    <router-link :to="item.link">
                      <svg width="60" height="60" class="icon" v-svg="item.icon"></svg>
                      <p>{{ item.title }}</p>
                    </router-link>
                  </div>
                </transition>
            </div>
        </div>
    </div>
</template>
<script>
  import dashPerimeter from '../../perimeters/DashPerimeter'
  export default {
    data () {
      return {
        search : '',
        menuItems: [
          {icon: 'aat', title: 'Ask a Teacher', link: '/asks',permission:'replyAsk'},
          {icon: 'user-management', title: 'User Management', link: '/users',permission:'viewRoles'},
          {icon: 'roles', title: 'User Roles', link: '/roles/mwalimoo',permission:'viewRoles'},

        ]
      }
    },
    perimeters: [
      dashPerimeter
    ]
  }

</script>
