<template>
  <div class="float-left width-100">
    <div class="content-wrapper">

      <section class="content">
        <transition>
          <router-view class="view"></router-view>
        </transition>
      </section>
    </div>
    <div class="hill hill-left"></div>
    <div class="hill hill-center"></div>
    <div class="hill hill-right"></div>
  </div>
</template>

<script>
  import auth from '../../auth'
  import Avatar from 'vue-avatar/src/Avatar'

  export default {
    name: 'main',
    components: {
      Avatar,
    },
    methods: {
      isLoggedIn(){
        return auth.checkAuth()
      }
    }
  }
</script>
