<template>
  <div class="loader-container">
    <div class="book">
      <div class="book__page"></div>
      <div class="book__page"></div>
      <div class="book__page"></div>
    </div>
  </div>

</template>
<script>
  import auth from '../../auth/index'
  export default {
    methods: {
      isLoggedIn(){
        return auth.checkAuth()
      }
    },
  }
</script>
