<template lang="html">
    <!-- Main Header -->
    <div>
        <header class="main-header">
            <!-- Logo -->
            <div class="flex-center">
              <router-link class="logo" to="/">
                  <img class="logo-nav margin-r-small" src="/static/img/logo-en.png" />
                  <!-- Menu Toggle Button -->
              </router-link>
            </div>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top flex-center" role="navigation" v-if="this.$store.state.authenticated">
                <!-- Navbar Right Menu -->
                <a href="#" @click="toggleNav()" v-if="$store.state.authenticated">
                  <span class="menu-icon mdi mdi-view-module"></span>
                </a>
                <div class="navbar-custom-menu" >
                    <ul class="nav navbar-nav flex-center">
                        <!-- User Account Menu -->
                        <Profile/>
                    </ul>
                </div>
            </nav>
        </header>
        <transition name="slide">
          <div class="nav-menu card col-xs-100 col-sm-40 col-md-30 text-center" v-if="$store.state.show_nav">
            <a href="#" class="close" @click="toggleNav()"><i class="mdi mdi-close"></i></a>
            <div class="col-xs-100 margin-t-medium">
              <avatar :username="$store.state.user.name" :size="60" backgroundColor="#1c99c5" color="#fff" class="user-image"></avatar>
              <p class="text-black text-center">{{$store.state.user.name}}</p>
            </div>
            <div class="search-box col-xs-100 margin-t-medium">
              <i class="mdi mdi-magnify"></i>
              <input placeholder="Search for menu item" v-model="search" class="col-xs-80 col-xs-offset-10"/>
            </div>
            <div class="menu-box col-xs-100 margin-t-medium">
              <transition name="slide-up" v-for="item in filterBy(menuItems, search)" :key="item.title" >
                  <div class="nav-menu-item col-xs-100"  v-if="$dashboard.isAllowed(item.permission)">
                    <router-link :to="item.link" @click="toggleNav()">
                        <p @click="toggleNav()">{{ item.title }}</p>
                    </router-link>
                  </div>
              </transition>
            </div>
            <a @click="logout()" class="logout" href="#">
              <i class="mdi mdi-power text-big"></i>
              <p class="text-small">Logout</p>
            </a>
          </div>
        </transition>
    </div>

</template>

<script>
    import Profile from './Profile'
    import auth from '../../auth'
    import dashPerimeter from '../../perimeters/DashPerimeter'
    import Avatar from 'vue-avatar/src/Avatar'

    export default {
      name: 'navbar',
      components: {
        Profile,
        Avatar
      },
      methods: {
        isLoggedIn(){
          return auth.checkAuth()
        },
        toggleNav(){
          return this.$store.commit('TOGGLE_NAV')
        },
        toggleSideNav(){
          this.isActive = !this.isActive;
          // some code to filter users
        },
        logout(){
          auth.logout()
        }
      },
      data () {
        return {
          search : '',
          menuItems: [
            {icon: 'aat', title: 'Ask a Teacher', link: '/asks',permission:'replyAsk'},
            {icon: 'user-management', title: 'User Management', link: '/users',permission:'viewRoles'},
            {icon: 'roles', title: 'User Roles', link: '/roles/mwalimoo',permission:'viewRoles'}
          ],
          isActive: false
        }
      },
      perimeters: [
        dashPerimeter
      ]
    }
</script>
