<template>
  <div class="dropdown user user-menu flex-center">
    <!--user actions toggle-->
    <a href="#" class="dropdown-trigger" @click="toggleDrop()">
      <avatar :username="$store.state.user.name" :size="37" backgroundColor="#1c99c5" color="#fff" class="user-image"></avatar>
    </a>
    <transition name="slide-up">
      <div class="dropdown-menu" v-if="$store.state.show_dropdown">
        <div @click="logout()" class="dropdown-item col-xs-100">
          <p class="text-center text-medium margin-b-none">
            Sign out
          </p>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
  import auth from '../../auth/index'
  import Avatar from 'vue-avatar/src/Avatar'


  export default {
    components:{
      Avatar
    },
    methods: {
      logout(){
        auth.logout()
      },
      isLoggedIn(){
        return auth.checkAuth()
      },
      toggleDrop(){
        let cont_ = document.getElementsByClassName('content-wrapper')[0]
        if(this.$store.state.show_dropdown){
          cont_.style.zIndex = '9'
        }
        else{
          cont_.style.zIndex = '6'
        }
        return this.$store.commit('TOGGLE_DROP')
      }
    },
  }
</script>
