<template lang="html">
    <div>
      <Navbar/>
        <transition name="fade">
          <Loading  v-if="$store.state.loading" ></Loading>
        </transition>
        <Home/>
        <detect-network>
            <div slot="offline">
              <transition name="slide">
                <div class="connection-status flex-center card">
                  <i class="mdi mdi-wifi-off margin-r-tiny text-big"></i>
                    <p class="text-small margin-b-none">The Lords of the internet have left your graces</p>
                  <i class="mdi mdi-emoticon-dead margin-l-tiny text-big"></i>
                </div>
              </transition>
            </div>
        </detect-network>
        <footer class="main-footer text-small text-right">
          <notifications  position="bottom right"/>
        </footer>
    </div>
</template>
<script>
    import Navbar from './components/dashboard/Navbar.vue'
    import Loading from './components/dashboard/Loading'
    import Home from './components/dashboard/Home.vue'
    export default {
      name: 'app',
      components: {
        Navbar,
        Home,
        Loading
      },
      data: function () {
        return {
          offline: false
        }
      }
    }
</script>



