/*! Variables */

:root {
  /* Fonts */
  --font-sans-serif: sans-serif;
  --font-serif: serif;
  --font-system: "Proxima Nova Rg",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-monospace: "Muli", Menlo, Consolas, "DejaVu Sans Mono", monospace;

  /* Colors (most courtesy of http://clrs.cc/) */
  --color-primary: #d11e43;
  --color-white: white;
  --color-navy: #001f3f;
  --color-blue: #1c99c5;
  --color-aqua: #7fdbff;
  --color-teal: #39cccc;
  --color-olive: #3d9970;
  --color-green: #2ecc40;
  --color-lime: #01ff70;
  --color-yellow: #ffdc00;
  --color-orange: #ff851b;
  --color-red: #ff4136;
  --color-maroon: #85144b;
  --color-fuchsia: #f012be;
  --color-purple: #b10dc9;
  --color-black: #2f3033;
  --color-gray: rgba(47,48,51,.5);
  --color-silver: #ddd;
  --color-dark-blue:#0e2f44;
  --color-light-grey:#fcfcfc;

  /* States */
  --state-success: var(--color-green);
  --state-info: var(--color-aqua);
  --state-warning: var(--color-orange);
  --state-danger: var(--color-red);
  --state-inverse: var(--color-black);

  /* Components */
  --component-bg-color: #f2f2f2;
  --component-border-color: #ddd;
  --component-border-radius: .25rem;
  --component-border-width: 1px;
  --component-spacing: 1rem;
  --component-spacing-big: 2rem;
  --component-spacing-small: .5rem;

  /* Content */
  --body-bg-color: var(--color-light-grey);
  --body-color: var(--color-black);
  --font-family: var(--font-system);
  --font-size: 1rem; /* Most browsers use a default font size of 16px */
  --font-size-big: 1.25rem;
  --font-size-medium:1rem ;
  --font-size-small: .875rem;
  --font-size-tiny: .7rem;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height: 1.5;
  --text-muted: var(--color-gray);

  --code-font-size: 90%;
  --code-color: var(--color-black);
  --code-border-radius: var(--component-border-radius);
  --code-bg-color: var(--component-bg-color);
  --code-spacing-x: calc(var(--font-size) * .4);
  --code-spacing-y: calc(var(--font-size) * .2);

  --headings-font-family: var(--font-monospace);
  --headings-font-weight: var(--font-weight-light);
  --headings-line-height: 1.1;
  --headings-margin-bottom: .5rem;
  --headings-color: inherit;
  --headings-font-size-h1: 2rem;
  --headings-font-size-h2: 1.6rem;
  --headings-font-size-h3: 1.3rem;
  --headings-font-size-h4: 1.15rem;
  --headings-font-size-h5: 1.12rem;
  --headings-font-size-h6: 0.95rem;

  --hr-border-width: 1px;
  --hr-border-color: var(--component-border-color);
  --hr-spacing: var(--component-spacing-big);

  --kbd-font-size: 90%;
  --kbd-color: var(--color-white);
  --kbd-border-radius: var(--component-border-radius);
  --kbd-bg-color: var(--color-black);
  --kbd-spacing-x: calc(var(--font-size) * .4);
  --kbd-spacing-y: calc(var(--font-size) * .2);

  --link-color: var(--color-primary);
  --link-text-decoration: none;
  --link-color-hover: var(--link-color);
  --link-text-decoration-hover: underline;

  --mark-color: inherit;
  --mark-bg-color: var(--color-yellow);
  --mark-spacing-x: calc(var(--font-size) * .4);
  --mark-spacing-y: calc(var(--font-size) * .2);

  --placeholder-color: var(--text-muted);

  --pre-color: var(--code-color);
  --pre-border-radius: var(--component-border-radius);
  --pre-bg-color: var(--code-bg-color);
  --pre-max-height: none;

  --selection-color: var(--color-white);
  --selection-bg-color: var(--color-primary);

  /* Alerts */
  --alert-color: var(--color-white);
  --alert-border-radius: var(--component-border-radius);
  --alert-bg-color-primary: var(--color-primary);
  --alert-bg-color-success: var(--state-success);
  --alert-bg-color-info: var(--state-info);
  --alert-bg-color-warning: var(--state-warning);
  --alert-bg-color-danger: var(--state-danger);
  --alert-bg-color-inverse: var(--state-inverse);
  --alert-spacing-x: var(--component-spacing);
  --alert-spacing-y: var(--component-spacing);

  /* Badges */
  --badge-font-size: .8em; /* ems for relative sizing */
  --badge-font-weight: var(--font-weight-bold);
  --badge-color: var(--color-white);
  --badge-border-radius: 1em;  /* ems for relative sizing */
  --badge-bg-color-primary: var(--color-primary);
  --badge-bg-color-success: var(--state-success);
  --badge-bg-color-info: var(--state-info);
  --badge-bg-color-warning: var(--state-warning);
  --badge-bg-color-danger: var(--state-danger);
  --badge-bg-color-inverse: var(--state-inverse);
  --badge-spacing-x: calc(var(--component-spacing) * .5);
  --badge-spacing-y: calc(var(--component-spacing) * .15);

  /* Buttons */
  --button-font-family: inherit;
  --button-font-weight: inherit;
  --button-font-size: var(--font-size);
  --button-color: var(--color-white);
  --button-border-radius: var(--component-border-radius);
  --button-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .1), inset 0 -2px 0 rgba(0, 0, 0, .1);
  --button-box-shadow-hover: inset 0 2px 5rem rgba(0, 0, 0, .1), inset 0 -2px 0 rgba(0, 0, 0, .1);
  --button-box-shadow-active: inset 0 2px 5rem rgba(0, 0, 0, .1), inset 0 2px 0 rgba(0, 0, 0, .1);
  --button-bg-color-primary: var(--color-primary);
  --button-bg-color-success: var(--state-success);
  --button-bg-color-info: var(--state-info);
  --button-bg-color-warning: var(--state-warning);
  --button-bg-color-danger: var(--state-danger);
  --button-bg-color-inverse: var(--state-inverse);

  /* Forms */
  --fieldset-border-color: var(--component-border-color);
  --fieldset-border-width: var(--component-border-width);
  --fieldset-border-radius: var(--component-border-radius);
  --fieldset-spacing-x: var(--component-spacing);
  --fieldset-spacing-y: var(--component-spacing);

  --input-font-family: inherit;
  --input-font-size: var(--font-size);
  --input-font-weight: inherit;
  --input-height: 2rem;
  --input-height-big: 2.75rem;
  --input-height-small: 1.25rem;
  --input-color: var(--body-color);
  --input-border-color: var(--component-border-color);
  --input-border-focus-color: var(--color-primary);
  --input-border-width: 1px;
  --input-border-radius: 0;
  --input-bg-color: transparent;
  --input-box-shadow: none;
  --input-readonly-bg-color: var(--component-bg-color);
  --input-range-track-color: var(--component-bg-color);
  --input-range-track-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05);
  --input-range-thumb-color: var(--color-primary);
  --input-range-thumb-height: 2rem;
  --input-margin-bottom: .35rem;

  --input-invalid-color: var(--state-danger);
  --input-invalid-border-color: var(--state-danger);
  --input-valid-color: var(--state-success);
  --input-valid-border-color: var(--state-success);

  /* Loaders */
  --loader-bg-color: var(--component-bg-color);
  --loader-border-color: var(--color-primary);
  --loader-border-width: .25rem;
  --loader-size: 2rem;
  --loader-speed: 750ms;
  --loader-spacing-x: var(--component-spacing-small);
  --loader-spacing-y: 0;

  /* Spacing Utilties */
  --spacing-tiny: calc(var(--component-spacing) * .5);
  --spacing-small: var(--component-spacing);
  --spacing-medium: calc(var(--component-spacing) * 2);
  --spacing-big: calc(var(--component-spacing) * 4);

  /* Switches */
  --switch-bg-color: var(--component-border-color);
  --switch-bg-color-checked: var(--color-primary);
  --switch-border-radius: var(--switch-size);
  --switch-size: 2rem;
  --switch-size-small: 1rem;
  --switch-size-big: 3rem;
  --switch-thumb-bg-color: white;
  --switch-thumb-border-radius: 50%;
  --switch-thumb-spacing: 2px;
  --switch-speed: .2s;

  /* Tabs */
  --tab-bg-color: var(--body-bg);
  --tab-bg-color-hover: var(--body-bg);
  --tab-bg-color-active: var(--link-color);
  --tab-bg-color-disabled: var(--body-bg);
  --tab-border-radius: var(--component-border-radius);
  --tab-color: var(--link-color);
  --tab-color-hover: var(--link-color-hover);
  --tab-color-active: var(--color-white);
  --tab-color-disabled: var(--text-muted);
  --tab-spacing-x: var(--component-spacing);
  --tab-spacing-y: calc(var(--component-spacing) / 2);

  --tab-pane-border-color: var(--component-border-color);
  --tab-pane-border-radius: var(--component-border-radius);
  --tab-pane-border-width: var(--component-border-width);
  --tab-pane-spacing-x: var(--component-spacing);
  --tab-pane-spacing-y: var(--component-spacing);

  /* Tables */
  --table-border-color: var(--component-border-color);
  --table-border-width: var(--component-border-width);
  --table-header-bg-color: transparent;
  --table-stripe-bg-color: var(--component-bg-color);
  --table-spacing-x: calc(var(--component-spacing-small) * 1.5);
  --table-spacing-y: var(--component-spacing-small);

  /* Dropdowns */
  --dropdown-min-width: 10rem;
  --dropdown-max-width: 25rem;
  --dropdown-max-height: none;
  --dropdown-offset-x: 13px;
  --dropdown-offset-y: 3px;
  --dropdown-border-color: var(--component-border-color);
  --dropdown-border-radius: var(--component-border-radius);
  --dropdown-border-width: var(--component-border-width);
  --dropdown-color: var(--body-color);
  --dropdown-color-hover: var(--color-white);
  --dropdown-bg-color: var(--color-white);
  --dropdown-bg-color-hover: var(--color-primary);
  --dropdown-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
  --dropdown-divider-border-color: var(--component-border-color);
  --dropdown-divider-border-width: var(--component-border-width);
  --dropdown-spacing-x: var(--component-spacing);
  --dropdown-spacing-y: calc(var(--dropdown-spacing-x) / 4);
  --dropdown-z-index: 99999;

  /*************************************************************************************************
  * Forms
  *************************************************************************************************/
  --input-progress-height-xs: 0.35rem;
  --input-height-xs: 1.25rem;
  --input-height-sm: 1.75rem;
  --input-height: 2.25rem;
  --input-height-lg: 2.75rem;
  --input-height-xl: 3.25rem;
  --input-font-size-xs: .7rem;
  --input-font-size-sm: .8rem;
  --input-font-size: 1rem;
  --input-font-size-lg: 1.25rem;
  --input-font-size-xl: 1.5rem;
  --input-font-family: inherit;
  --input-font-weight: inherit;
  --input-color: var(--body-color);
  --input-border-color: var(--component-border-color);
  --input-border-width: 1px;
  --input-border-radius: var(--component-border-radius);
  --input-bg-color: var(--color-white);
  --input-box-shadow: var(--component-box-shadow-inner);
  --input-readonly-bg-color: var(--component-bg-color);
  --input-focus-color: var(--state-primary);
  --input-speed: var(--component-speed);
  --input-addon-bg-color: var(--component-bg-color);
  --input-addon-color: var(--body-color-muted);
  --input-icon-width: 2em;
  --input-icon-offset: .5em;
  --input-icon-color: var(--state-secondary);
  --input-range-track-height: .5rem;
  --input-range-track-color: var(--component-bg-color);
  --input-range-track-box-shadow: var(--component-box-shadow-inner);
  --input-range-thumb-height: 1.25rem;
  --input-range-thumb-color: var(--state-primary);
  --input-invalid-color: var(--state-danger);
  --input-invalid-border-color: var(--state-danger);
  --input-valid-color: var(--state-success);
  --input-valid-border-color: var(--state-success);
  --fieldset-border-color: var(--component-border-color);
  --fieldset-border-width: var(--component-border-width);
  --fieldset-border-radius: var(--component-border-radius);
  --fieldset-padding-x: 2rem;
  --fieldset-padding-y: 1.5rem;
  --label-color: inherit;
  /*************************************************************************************************
  * Grid
  *************************************************************************************************/
  --container-max-width-sm: 540px;
  --container-max-width-md: 720px;
  --container-max-width-lg: 960px;
  --container-max-width-xl: 1140px;
  --grid-gutter-width: 2rem;
  /*************************************************************************************************
  * Loaders
  *************************************************************************************************/
  --loader-thickness: .2rem;
  --loader-thickness-xs: calc(var(--loader-thickness) / 2);
  --loader-thickness-sm: calc(var(--loader-thickness) / 1.5);
  --loader-thickness-lg: calc(var(--loader-thickness) * 1.5);
  --loader-thickness-xl: calc(var(--loader-thickness) * 2);
  --loader-size-xs: var(--input-height-xs);
  --loader-size-sm: var(--input-height-sm);
  --loader-size: var(--input-height);
  --loader-size-lg: var(--input-height-lg);
  --loader-size-xl: var(--input-height-xl);
  --loader-speed: 750ms;
  --loader-margin-x: .5em;
  --loader-margin-y: 0;
  /* Default */
  --loader-color: var(--state-primary);
  //--loader-bg-color: color(var(--state-primary) lightness(90%));
  /* Secondary */
  --loader-color-secondary: var(--state-secondary);
  //--loader-bg-color-secondary: color(var(--state-secondary) lightness(90%));
  /* Success */
  --loader-color-success: var(--state-success);
  //--loader-bg-color-success: color(var(--state-success) lightness(90%));
  /* Info */
  --loader-color-info: var(--state-info);
  //--loader-bg-color-info: color(var(--state-info) lightness(90%));
  /* Warning */
  --loader-color-warning: var(--state-warning);
  //--loader-bg-color-warning: color(var(--state-warning) lightness(90%));
  /* Danger */
  --loader-color-danger: var(--state-danger);
  //--loader-bg-color-danger: color(var(--state-danger) lightness(90%));
  /* Light */
  --loader-color-light: var(--state-light);
  //--loader-bg-color-light: color(var(--state-light) lightness(90%));
  /* Dark */
  --loader-color-dark: var(--state-dark);
  //--loader-bg-color-dark: color(var(--state-dark) lightness(90%));
  /*************************************************************************************************
  * Progress Bars
  *************************************************************************************************/
  --progress-height: var(--input-height);
  --progress-height-xs: var(--input-progress-height-xs);
  --progress-height-sm: var(--input-height-sm);
  --progress-height-lg: var(--input-height-lg);
  --progress-height-xl: var(--input-height-xl);
  --progress-font-size: var(--input-font-size);
  --progress-font-size-xs: var(--input-font-size-xs);
  --progress-font-size-sm: var(--input-font-size-sm);
  --progress-font-size-lg: var(--input-font-size-lg);
  --progress-font-size-xl: var(--input-font-size-xl);
  --progress-color: var(--color-white);
  --progress-bg-color: var(--component-bg-color);
  --progress-bar-color: var(--color-aqua);
  --progress-border-radius: var(--component-border-radius);
  --progress-box-shadow: var(--component-box-shadow-inner);
  --progress-speed: var(--component-speed);
  --progress-speed-indeterminate: 3s;
  /*************************************************************************************************
  * Switches
  *************************************************************************************************/
  --switch-height: calc(var(--input-height) * .75);
  --switch-height-xs: calc(var(--input-height-xs) * .75);
  --switch-height-sm: calc(var(--input-height-sm) * .75);
  --switch-height-lg: calc(var(--input-height-lg) * .75);
  --switch-height-xl: calc(var(--input-height-xl) * .75);
  --switch-font-size: var(--input-font-size);
  --switch-font-size-xs: var(--input-font-size-xs);
  --switch-font-size-sm: var(--input-font-size-sm);
  --switch-font-size-lg: var(--input-font-size-lg);
  --switch-font-size-xl: var(--input-font-size-xl);
  --switch-border-radius: var(--switch-height);
  --switch-thumb-border-radius: 50%;
  --switch-thumb-spacing: 2px;
  --switch-focus-width: var(--component-focus-width);
  --switch-speed: var(--component-speed);
  /* Default */
  --switch-color: var(--state-primary);
  --switch-bg-color: var(--component-border-color);
  --switch-thumb-color: var(--color-white);
  /* Secondary */
  --switch-color-secondary: var(--state-secondary);
  --switch-bg-color-secondary: var(--component-border-color);
  --switch-thumb-color-secondary: var(--color-white);
  /* Success */
  --switch-color-success: var(--state-success);
  --switch-bg-color-success: var(--component-border-color);
  --switch-thumb-color-success: var(--color-white);
  /* Info */
  --switch-color-info: var(--state-info);
  --switch-bg-color-info: var(--component-border-color);
  --switch-thumb-color-info: var(--color-white);
  /* Warning */
  --switch-color-warning: var(--state-warning);
  --switch-bg-color-warning: var(--component-border-color);
  --switch-thumb-color-warning: var(--color-white);
  /* Danger */
  --switch-color-danger: var(--state-danger);
  --switch-bg-color-danger: var(--component-border-color);
  --switch-thumb-color-danger: var(--color-white);
  /* Light */
  --switch-color-light: color(var(--state-light) shade(25%));
  --switch-bg-color-light: color(var(--state-light) shade(10%));
  --switch-thumb-color-light: var(--color-white);
  /* Dark */
  --switch-color-dark: color(var(--state-dark) tint(10%));
  --switch-bg-color-dark: color(var(--state-dark) tint(25%));
  --switch-thumb-color-dark: var(--color-white);
}
