.main-header {
  float: left;
  width: 100%;
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

img.logo-nav {
  width: 40px;
}

.navbar-nav {
  margin-bottom: 0;
}

.menu-icon {
  font-size: 2rem;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: white;
  margin-right: 10px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.menu-icon:hover {
  text-shadow: 0 7px 6px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.nav-menu, .nav-menu p, .nav-menu input, .nav-menu-item, .menu-box, .menu-box a.close {
  -webkit-transition: .6s ease-in-out;
  -moz-transition: .6s ease-in-out;
  -o-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.nav-menu {
  position: fixed !important;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9999;
  padding: 15px 20px;
}

.nav-menu a {
  text-decoration: none;
}

.nav-menu p {
  margin: 0;
  color: var(--color-gray);
}

.nav-menu p:hover {
  color: var(--color-blue);
}

.nav-menu-item {
  display: inline-block;
  padding: 5px 10px;
}
.nav-menu-item:after{
  content: '';
  width: 70%;
  border-bottom: 1px solid var(--color-silver);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}
.nav-menu-item:last-child:after {
  display: none;
}

.nav-menu input {
  border: none;
  border-bottom: 1px solid var(--color-silver);
  padding-left: 20px;
  margin-top: 6px;
  padding-bottom: 5px;
  font-size: .9rem;
  box-shadow: none;
  outline: 0;
  text-align: center;
}


.nav-menu input:hover, .nav-menu input:active, .nav-menu input:focus {
  border-color: var(--color-blue);
}

.nav-menu .search-box {
  position: relative;
}

.nav-menu .search-box i {
  position: absolute;
  left: 50px;
  z-index: 99;
  bottom: -1px;
  color: var(--color-gray);
  font-size: 1.05rem;
}

.nav-menu a.close {
  color: var(--color-black);
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  right: 10px;
}

.nav-menu a.close:hover, .nav-menu a.close:active {
  color: var(--color-blue);
}
.nav-menu .user-image .avatar{
  margin: 5px auto;
}
.nav-menu .logout{
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.nav-menu .avatar{
  margin:5px auto;
}
.side-nav {
  position: fixed;
  top: 15%;
  left: 0;
  z-index: 999;
  width: 60px;
  height: 70%;
}

.side-nav p {
  display: none;
}

.side-nav.open {
  width: 150px;
}

.side-nav.open p {
  display: block;
  text-align: center;
}

.side-nav .nav-menu-item {
  border: none;
}

.side-nav .close {
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  font-size: 1.3rem;
  color: var(--color-blue);
}

.side-nav.open .close {
  transform: translateX(50%) rotate(180deg)
}

.side-nav svg {
  margin: 5px auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    padding: 80px 10px 10px 10px;
    border-radius: 0;
    align-items: center;
    flex-direction: column;
    z-index: 99;
  }
  .menu-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  .menu-box .nav-menu-item {
    text-align: center;
    width: 65%;
    border: none;
    border-bottom: 1px solid var(--color-silver);
  }
  .menu-box .nav-menu-item:last-child {
    border: none;
  }
}
