.aat-sidebar .close span, .aat-sidebar .modal-header input{
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.aat-sidebar{
  position: fixed !important;
  z-index: 9999;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  height: 90%;
  -webkit-transition: 1.3s ease-in-out !important;
  -moz-transition: 1.3s ease-in-out !important;
  -o-transition: 1.3s ease-in-out !important;
  transition: 1.3s ease-in-out !important;
  -webkit-transform: translateX(500%);
  -moz-transform: translateX(500%);
  -o-transform: translateX(500%);
  transform: translateX(500%);
  outline: none;
}
.aat-sidebar.visible{
  -webkit-transition: .6s ease-in-out !important;
  -moz-transition: .6s ease-in-out !important;
  -o-transition: .6s ease-in-out !important;
  transition: .6s ease-in-out !important;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.aat-sidebar .btn-select-subject{
  font-size: 11px;
  margin: 4px;
  background-color: transparent;
  color: var(--color-gray);
  border-radius: 15px;
  border: 1px solid var(--color-teal);
}
.aat-sidebar .btn-select-subject.active{
  background-color: var(--color-teal);
}
.aat-sidebar .btn-select-subject .badge{
  background-color: var(--color-teal);
}
.aat-sidebar .close,.aat-sidebar .close:active, .aat-sidebar .close:focus{
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none !important;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 3px 6px;
}
.aat-sidebar .close span{
  color: var(--color-gray);
  font-size: 26px;
}
.aat-sidebar .close:focus span, .aat-sidebar .close:active span, .aat-sidebar .close:hover span{
  color: var(--color-dark-blue);
  font-size: 27px;
}
.aat-sidebar .modal-body{
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow-y: hidden;
  position: absolute;
  top: 13%;
  left: 0;
  padding: 8px;
  width: 100%;
}
//.aat-sidebar .modal-body .chat-container::-webkit-scrollbar {
//  display: none;
//}
.aat-sidebar .modal-body .chat-container{
  width: 100%;
  overflow-y: scroll;
  //-ms-overflow-style: none;
  //overflow: -moz-scrollbars-none;
}
.aat-sidebar .modal-header{
  position: absolute;
  top: 0;
  left:0;
  height: 13%;
  width: 100%;
}
.aat-sidebar .modal-header input{
  border-radius: 30px;
  border: 1px solid var(--component-border-color);
  padding: 4px 15px;
}
.aat-sidebar .modal-header input:focus, .aat-sidebar .modal-header input:active{
  outline: none;
  border-color: var(--input-border-focus-color);
}
.aat-sidebar .direct-chat-msg{
  border-bottom: none;
}
.aat-sidebar .direct-chat-msg:hover{
  background-color: transparent;
  box-shadow: none;
}
@media screen and (max-width: 767px){
  .aat-sidebar{
    height: 100%;
  }
  .aat-sidebar .close{
    top: 0px;
    left: 0px;
    min-width: 30px;
    min-height: 40px;
    padding-top: 0;
    background-color: var(--color-teal);
    border-radius: 0;
  }
  .aat-sidebar .close span{
    color: var(--color-white);
    font-weight:bold;
  }
}
