<template>
  <div>
    <div class="card col-xs-100 col-sm-80 col-sm-offset-10 col-md-46 col-md-offset-27 login-card">
      <div class="col-sm-100 margin-t-small margin-b-small">
        <img class="avatar-centered" src="/static/img/mwalimoo.png" />
      </div>
      <div class="box-header">
        <h4 class="text-center">Log in to your account</h4>
      </div>
      <div class="col-xs-90 col-xs-offset-5" style="padding-top: 30px padding-bottom: 20px">
        <transition name="fade">
          <div class="alert alert-danger" v-if="error">
            <p v-if="error === 'Request failed with status code 401'">Invalid username or password</p>
            <p v-else>{{ error }}</p>
          </div>
        </transition>
        <div :class="{'input-invalid': errors.has('username') }" class="form-group">
          <label class="text-tiny" v-show="errors.has('username')">{{ errors.first('username') }}</label>
          <input name="username"
                 type="text"
                 class="form-control"
                 placeholder="Enter your username"
                 v-model="credentials.username"
                 v-validate="'required'">
        </div>
        <div :class="{'input-invalid': errors.has('password') }" class="form-group">
          <label class="text-tiny" v-show="errors.has('password')">{{ errors.first('password') }}</label>
          <input name="password"
                 type="password"
                 class="form-control"
                 placeholder="Enter your password"
                 @keyup.enter="submit()"
                 v-model="credentials.password"
                 v-validate="'required'" >

        </div>
        <button class=" button-normal margin-t-small margin-b-medium col-xs-80 col-xs-offset-10" @click="submit()">Login</button>
      </div>
    </div>
  </div>
</template>

<script>
  import auth from '../../auth/index'
  export default {
    data(){
      return {
        credentials: {
          username: '',
          password: ''
        },
        error: ''
      }
    },
    methods: {
      submit(){
        let inst = this
        let credentials = {
          username: inst.credentials.username,
          password: inst.credentials.password
        }

        inst.$validator.validateAll().then(function(success) {
          if (!success){
            return
          }
          else{
            auth.login(inst, credentials, 'asks')
          }
        })


      }
    },
    mounted: function () {
      let body = document.getElementsByTagName('body')[0]
      body.classList.add('sidebar-collapse')
    }
  }
</script>
