<template>
  <div class="asks-reply-section">
    <div class="replybox-wrapper">
      <div type="text" name="focus" required class="reply-box" contenteditable="true"
           placeholder="type and hit enter ..." @keypress="is_typing" @keyup.enter="replyToAsk"
           id="asks-reply-input">{{reply.reply}}
      </div>
      <span class="text-warning text-small padding-l-small" id="typing-prompt"></span>
    </div>
  </div>
</template>

<script>
  import * as pusher from '../../assets/pusher.js'
  import {mapGetters} from 'vuex'
  import {mapState} from 'vuex'

  export default {
    props: ['ask'],
    data: function () {
      return {
        channel: pusher.replying,
        current_responder_id: null,
        reply: {
          ask_id: this.ask.id,
          reply: '',
          created_by: this.$store.state.user.id
        },
      }
    },
    methods: {
      replyToAsk(event) {
        let target = event.currentTarget, obj_ = this,
          reply = obj_.reply,
          ask = obj_.ask,
          arr = obj_.$store.state.asks,
          c_ask = arr.find(o => o.id === ask.id)

        reply.reply = obj_.strip(target.textContent)
        reply.ask_id = obj_.ask.id
        if (obj_.$store.getters.currentQuestion.id !== obj_.ask.id) {
          return false
        }
        this.$store.dispatch('sendReply', {reply: reply}).then(function () {
          obj_.$notify({
            title: 'success!!',
            type: 'success',
            text: 'Your reply has been sent to the user successfully!'
          })
          c_ask.replies.push(reply)
          reply = {
            ask_id: ask.id,
            reply: '',
            created_by: obj_.$store.state.user.id
          }
          target.textContent = ''
        })
        this.channel.trigger('client-replied', {
          user_id: this.$store.state.user.id,
          ask_id: this.ask.id,
        })

      },
      toggleModal() {
        return this.$store.commit('TOGGLE_MODAL')
      },
      is_typing() {
        this.channel.trigger('client-is_typing', {
          user_name: this.$store.state.user.name,
          user_id: this.$store.state.user.id,
          ask_id: this.$store.state.CURRENT_ASK.id,
        })
      },
      strip(str) {
        str=str.replace(/<br>/gi, '\n')
        str=str.replace(/<p.*>/gi, '\n')
        str=str.replace(/<a.*href='(.*?)'.*>(.*?)<\/a>/gi, ' $2 (Link->$1) ')
        str=str.replace(/<(?:.|\s)*?>/g, '')
        return str
      }
    },
    mounted: function () {
      let obj = this, state = obj.$store.state,
        ask= state.CURRENT_ASK,
        input_ = document.getElementById('asks-reply-input'),
        typing_prompt_ = document.getElementById('typing-prompt')
      this.channel.bind('client-is_typing', function (data) {
        if (data.ask_id === ask.id) {
          (input_ !== null) ? input_.setAttribute('contenteditable', false) : '';
          (typing_prompt_ !== null) ? typing_prompt_.innerHTML = data.user_name + ' is typing...' : ''
        }
        else{
          (input_ !== null) ? input_.setAttribute('contenteditable', true) : '';
          (typing_prompt_ !== null) ? typing_prompt_.innerHTML = '' : ''
        }
      })
      this.channel.bind('client-closed_quiz_modal', function (data) {
        if (data.ask_id === ask.id && data.user_id === obj.current_responder_id) {
          (input_ !== null) ? input_.setAttribute('contenteditable', true) : '';
          (typing_prompt_ !== null) ? typing_prompt_.innerHTML = '' : ''
        }
      })
      this.channel.bind('client-replied', function (data) {
        if (data.ask_id === ask.id && data.user_id === obj.current_responder_id) {
          (input_ !== null) ? input_.setAttribute('contenteditable', true) : '';
          (typing_prompt_ !== null) ? typing_prompt_.innerHTML = '' : ''
        }
      })
    },
    computed: mapGetters([
      'currentAsks',
      'getUser'
    ]),

  }
</script>
