<template>
  <div class="asks-container container-fluid" v-cloak>
    <svg width="35" height="35" class="icon aat-back-icon" v-for="icon in svg_icons" v-bind:style="icon"
         v-svg="icon.class"></svg>
    <div class="row aat-container">
      <div class="col-xs-94 col-xs-offset-3 col-sm-40 col-sm-offset-0 aat-mainbar">
        <div class="col-xs-100 col-sm-90 col-sm-offset-5">
          <Subjects></Subjects>
        </div>
        <div class="col-xs-100 box-body padding-l-small">
          <section class="questions-holder" @scroll="scrollAsks">
            <Question v-bind:ask="ask" v-for="ask in currentAsks" :key="ask.id" v-if="typeof ask.asker !== 'undefined'"/>
          </section>
          <section v-if="!currentAsks.length && Number.isInteger($store.state.currentSubjectID)">
            <div class="text-center" style="padding-top:100px">
              <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
              <p>No questions found for {{ currentSubject().name }} {{ currentSubject().category }}</p>
            </div>
          </section>
        </div>
        <div v-if="$store.state.loading_messages" class="questions-holder-loader padding-t-small">
          <div class="loader loader-bg loader-bg-lg"></div>
          <span class="text-small text-bold">Loading more messages...</span>
        </div>
      </div>
      <div class="col-xs-90 col-xs-offset-5 col-sm-offset-0 col-sm-60 message-area">
        <div class="chart-placeholder hidden-xs margin-t-big">
          <svg width="200" height="200" v-svg="'board'"></svg>
          <p class="margin-t-small text-medium">Click on a message on the left to view its details</p>
        </div>

        <Quizmodal v-if="$store.state.showModal" @close="toggleModal()">
        </Quizmodal>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Subjects from './Subjects.vue'
  import Quizmodal from './Quizmodal.vue'
  import Question from './Question'
  import * as pusher from '../../assets/pusher.js'
  import moment from 'moment'

  export default {
    name: 'ask',
    components: {
      Question,
      Subjects,
      Quizmodal
    },
    methods: {
      scrollAsks: function () {
        let element = document.getElementsByClassName('questions-holder')[0],
          percentage = (element.scrollTop + element.offsetHeight) / element.scrollHeight * 100;
        if (percentage > 90) {
          this.fetch_next_page()
        }
      },
      fetch_next_page: function () {
        let obj = this.$store,
          page = obj.state.current_page_no,
          asks = obj.state.asks,
          url_ = obj.state.asks_link,
          pages_array = obj.state.current_fetched_pages

        if (!pages_array.includes(page + 1)) {
          obj.dispatch('appendAsks', {'page': page, 'asks': asks, 'url_': url_, 'pages_array': pages_array})
        }

      },
      currentSubject: function () {
        return this.getSubjects.find(x => x.id === this.$store.state.currentSubjectID
        )
      },
      toggleModal: function () {
        return this.$store.commit('TOGGLE_MODAL');
      },
      backIcons: function () {
        var icons = ['thinking-trophy', 'thinking-question', 'library', 'head'], collection_ = [];
        Array.prototype.forEach.call(icons, function (icon, index) {
          var count = 15
          for (var i = 0; i < count; i++) {
            var max = 90, min = 10, top = Math.floor(Math.random() * (max - min + 1)) + min,
              left = Math.floor(Math.random() * (max - min + 1)) + min;
            var vars_ = {
              class: icon,
              top: top + '%',
              left: left + '%'
            }
            collection_.push(vars_)
          }
        })
        this.svg_icons = collection_
      },
      q_container_height: function () {
        let q_container = document.getElementsByClassName('questions-holder')[0],
          h_height = document.getElementsByClassName('main-header')[0].clientHeight,
          tabs_height = document.getElementsByClassName('aat-chat-tabs')[0].clientHeight,
          t_height = h_height + tabs_height + 50,
          q_height = window.innerHeight - t_height
        q_container.style.height = q_height + 'px'
      },
      calculate_timer(inst_) {
        var questions_ = document.getElementsByClassName('direct-chat-timestamp'),
          timers_ = document.getElementsByClassName('timer')
        if (questions_ && questions_.length > 0) {
          Array.prototype.forEach.call(questions_, function (question_) {
            var current_date = question_.getAttribute('data-date'), new_date = inst_.getTimeAgo(current_date)
            question_.innerHTML = new_date
          })
        }
        if (timers_ && timers_.length > 0) {
          Array.prototype.forEach.call(timers_, function (timer_) {
            var current_date = timer_.getAttribute('data-date'),
              now = moment(new Date()),
              end = moment.utc(current_date),
              diff_time = moment.duration(now.diff(end)),
              hours_ = diff_time.asHours(),
              class_name = (hours_ === 0 ) ? 'urgent' : (hours_ <= 1) ? 'low' : ( hours_ < 3) ? 'intermediate' : 'urgent'
            if (!timer_.classList.contains(class_name)) {
              timer_.classList.remove('low', 'intermediate', 'urgent')
              timer_.classList.add(class_name)
            }
          })
        }
      },
      getTimeAgo(date) {
        return moment.utc(date).fromNow()
      }
    },
    mounted: function () {
      let obj = this.$store,
        dates = {from: moment().subtract(3, 'days').format('YYYY-MM-DD'), to: moment().format('YYYY-MM-DD')}
      obj.dispatch('loadAsks', {'user_id': obj.state.user.id, 'dates': dates, 'cat': 'ask-a-teacher'})

      //listen to asks event
      pusher.asks.bind('asks.created', function (data) {
        let ask = data.asks
        if (ask.asker.consumer_id !== obj.state.user.consumer_id) {
          return false
        }
        if (typeof ask.replies === 'undefined') {
          ask.replies = []
        }
        obj.commit('PUSH_ASK', {ask: ask})
        //check if can be pushed to modal
        if (obj.state.CURRENT_ASK && ask.user_id === obj.state.CURRENT_ASK.user_id) {
          obj.commit('PUSH_PREV_Q', {ask: ask})
        }
      })
      pusher.replies.bind('replies.created', function (data) {
        let new_reply = data.replies
        if (typeof new_reply !== 'undefined') {
          if (obj.state.aat.prev_questions.length > 0) {
            obj.state.aat.prev_questions.filter(function (ask) {
              if (ask.id === new_reply.ask_id) {
                ask.replies.push(new_reply)
              }
            })
          }
        }
      })
      let inst_ = this
      inst_.backIcons()
      inst_.q_container_height()
      inst_.calculate_timer(inst_)
      setInterval(function () {
        inst_.calculate_timer(inst_)
      }, 5000)
    },
    computed: mapGetters([
      'currentAsks',
      'getSubjects',
      'prevQuestions'
    ]),
    data: function () {
      return {
        svg_icons: []
      }
    }
  }
</script>
