<template>
  <div class="push-modal col-xs-100">
    <div class="col-xs-100 padding-medium text-center">
      <h5 class="margin-b-small">Push a Lesson</h5>
      <select v-model="content.type">
        <option value="lessons" selected>Lessons</option>
        <option value="quizzes">Quizzes</option>
      </select>
      <input type="search" name="field1" placeholder="Search for Lessons" v-model="content.name"
             @keyup="search_lesson(content.name)" autocomplete="off"/>
      <div class="result_box" v-if="currentLessons.length">
        <ul class="search_results" v-if="content.type === 'lessons'">
          <li v-for="lesson in currentLessons" @click="select_lesson(lesson, 'lesson')">{{ lesson.tutorial_title }}</li>
        </ul>
        <ul class="search_results" v-if="content.type === 'quizzes'">
          <li v-for="quiz in currentLessons" @click="select_lesson(quiz, 'quiz')">{{ quiz.quiz_title }}</li>
        </ul>
      </div>
      <button @click="handler" class="width-45 margin-t-small send-push"> Send</button>
    </div>
  </div>
</template>
<script>
  import {mapGetters} from 'vuex'
  import _ from 'lodash'

  export default {
    props: ['ask'],
    data: function () {
      return {
        content: {
          type: 'lesson',
          value: '',
          name: '',
          user_id: this.ask.user_id
        }
      }
    },
    methods: {
      push_content() {
        this.$store.dispatch('pushContent', {content: this.content})
      },
      search_lesson(query) {
        this.$store.dispatch('loadLessons', {'type': this.content.type, 'query': query})
      },
      default_response() {
        let c_ask = this.ask,
          reply = 'Hello student, I have sent you the ' + this.content.type + ': ' + this.content.name,
          default_reply = {
            ask_id: this.ask.id,
            reply: reply,
            created_by: this.$store.state.user.id
          }
        this.$store.dispatch('sendReply', {reply: default_reply})
        c_ask.replies.push(reply)
      },
      togglePush: function () {
        return this.$store.commit('TOGGLE_PUSH')
      },
      handler() {
        this.push_content()
        this.default_response()
        this.togglePush()
        this.reset()
      },
      select_lesson(lesson, type) {
        if (type === 'quiz') {
          this.content.type = 'quiz'
          this.content.name = lesson.quiz_title
        } else if (type === 'lesson') {
          this.content.type = 'lesson'
          this.content.name = lesson.tutorial_title
        }
        this.content.value = lesson.id
        this.reset()
      },
      reset() {
        this.$store.state.lessons = []
      },
    },
    computed: {
      ...mapGetters([
        'getUser',
        'currentLessons',
        'currentQuestion'
      ])
    }
  }
</script>
