<template>
  <transition name="slide-up">
    <div class="direct-chat-msg quiz-list col-xs-100" @click="setActiveAsk(ask)"
         v-bind:class="{'active': getActive(ask)}">
      <div class="col-xs-20 direct-chat-msg-avatar">
        <avatar :username="ask.asker.name" class="direct-chat-img" :size="45"></avatar>
        <span class="timer mdi mdi-clock-alert" :data-date="ask.created_at"></span>
      </div>
      <div class="col-xs-80 padding-l-small">
      <span
        class="text-left text-bold text-small">{{ (ask.asker.name.indexOf('User') !== -1) ? ask.asker.name.replace(/.(?=.{0,4}$)/g, '*') : ask.asker.name
        }}
        <small>{{ typeof ask.asker.levels === 'undefined' || ask.asker.levels.length < 1 ? '' : ask.asker.levels[0].name.length < 2 ? '( class-' + ask.asker.levels[0].name + ')' : '( ' + ask.asker.levels[0].name + ' )'
          }}</small>
      </span>
        <svg
          v-if="typeof ask.asker.meta !== 'undefined' && ask.asker.meta.length > 0 && ask.asker.meta[0].meta_value == 'sms'"
          width="20" height="20" class="icon msg-channel-icon" v-svg="'sms'"></svg>
        <svg
          v-else-if="typeof ask.asker.meta !== 'undefined' && ask.asker.meta.length > 0  && ask.asker.meta[0].meta_value == 'web'"
          width="20" height="20" class="icon msg-channel-icon" v-svg="'web'"></svg>
        <p class="width-100 text-left text-small margin-b-none">{{ ask.question | truncate(55) }}</p>
        <span v-if="ask.asker.asks_count < 2" class="badge new-asker-badge">NEW</span>
        <span class="direct-chat-timestamp pull-right text-tiny"
              :data-date="ask.created_at">{{getTimeAgo(ask.created_at)}}</span>
      </div>
    </div>
  </transition>
</template>
<script>
  import moment from 'moment'
  import Avatar from 'vue-avatar/src/Avatar'
  import * as pusher from '../../assets/pusher.js'

  export default {

    props: ['ask'],
    components: {
      Avatar
    },
    data: function () {
      return {
        activeQuestion: '',
        channel: pusher.replying,
      }
    },
    methods: {
      setActiveAsk: function (ask) {
        this.$store.state.showModal = true
        let store_ = this.$store,
          input_ = document.getElementById('asks-reply-input'),
          typing_prompt_ = document.getElementById('typing-prompt'),
          sidebar = document.getElementsByClassName('question-sidebar')[0]
        if (sidebar && typeof sidebar.classList !== 'undefined') {
          sidebar.classList.add('visible')
        }
        store_.commit('SWITCH_QUESTION', {ask})
        store_.dispatch('loadPrevLessons', {'user_id': ask.user_id})
        input_ !== null ? input_.setAttribute('contenteditable', true) : ''
        typing_prompt_ !== null ? typing_prompt_.innerHTML = '' : ''
      },
      getActive: function (ask) {
        let active = (this.$store.state.CURRENT_ASK && ask.id === this.$store.state.CURRENT_ASK.id) ? 'active' : false
        return active
      },
      getTimeAgo(date) {
        return moment.utc(date).fromNow()
      }
    }
  }
</script>
