<template>
  <transition name="slide">
    <div class="aat-sidebar question-sidebar card-raised col-xs-100 col-sm-60" v-bind:class="{visible: $store.state.showModal}">
      <div class="modal-header">
        <slot name="header">
          <h4 class="text-center">
            <!--Chat with {{ask.asker.name}}-->
            <button type="button" class="close" @click="closeModal()" aria-label="Close"
                    data-toggle="tooltip">
              <span aria-hidden="true" class="hidden-xs">&times;</span>
              <span aria-hidden="true" class="visible-xs hidden-sm">&rarr;</span>
            </button>
          </h4>
        </slot>
      </div>
      <div class="modal-body">
        <div class="row chat-container">
          <div class="side-msg-loader" v-if="$store.state.aat.loading_msg">
            <div class="padding-t-small">
              <div class="loader loader-bg loader-bg-lg"></div>
              <p class="text-small text-bold text-center">Loading messages...</p>
            </div>
          </div>
          <div class="col-xs-100" v-for="ask in $store.state.aat.prev_questions">
            <div class="direct-chat-msg col-sm-100">
              <div class="col-xs-15 col-sm-10">
                <avatar :username="ask.asker.name" class="direct-chat-img" :size="45"></avatar>
              </div>
              <div class="col-xs-75 col-sm-90">
                <div class="direct-chat-user-info clearfix">
                  <span class="reply-icon mdi mdi-reply" @click="setActiveAsk(ask)"></span>
                  <p class="direct-chat-name direct-chat-name-question text-left">{{ (ask.asker.name.indexOf('User') !== -1) ?  ask.asker.name.replace(/.(?=.{0,4}$)/g, '*') : ask.asker.name }}
                    <small>
                      {{ !ask.asker.level ? '' : ask.asker.level.length < 2 ? '( class-' + ask.asker.level + ')' : '( ' + ask.asker.level + ' )'
                      }}
                    </small>
                  </p>
                  <p class="direct-chat-text text-small text-left" data-toggle="tooltip" data-placement="top"
                     title="Click to answer">
                    {{ask.question}}
                  </p>
                  <span class="direct-chat-timestamp pull-right text-tiny"
                        :data-date="ask.created_at">{{getTimeAgo(ask.created_at)}}</span>
                </div>
              </div>
            </div>
            <Reply v-if="ask.replies.length > 0" v-for="reply in ask.replies" v-bind:reply="reply" v-bind:key="reply.id"/>
          </div>
        </div>
        <div class="modal-footer">
          <div class="push-content col-xs-100" v-if="$store.state.showAttachment" v-show="$aat.isAllowed('replyAsk')">
            <div class="attach_button col-xs-100" @close="closeModal()">
              <div @click="togglePush()" class="button3"><span class="text-big mdi mdi-close-circle-outline"></span>
              </div>
              <Pushquiz v-bind:ask="$store.state.CURRENT_ASK"/>
            </div>
          </div>
          <button v-show="$aat.isAllowed('replyAsk')" class="btn btn-primary float-right margin-t-small push-btn "
                  @click="togglePush()">Push Content
          </button>
          <div class="col-xs-100">
            <div class="col-xs-80 col-xs-offset-10 col-sm-80 col-sm-offset-10 col-md-60 col-md-offset-20 padding-small current-reply" v-if="ask">
              <avatar :username="ask.asker.name" :size="25" class="float-left"></avatar>
              <span class="text-small text-left padding-l-small">{{ ask.question | truncate(45) }}</span>
            </div>
          </div>
          <Answerform v-show="$aat.isAllowed('replyAsk')" class="text_box" v-bind:ask="$store.state.CURRENT_ASK"/>

        </div>
      </div>
    </div>
  </transition>
</template>
<script>
  import * as pusher from '../../assets/pusher.js'
  import Answerform from './Answerform'
  import Pushquiz from './Pushquiz'
  import moment from 'moment'
  import Reply from './Reply'
  import Avatar from 'vue-avatar/src/Avatar'
  import AATPerimeter from '../../perimeters/AATPerimeter.js'
  import {mapGetters} from 'vuex'

  export default {
    components: {
      Reply,
      Answerform,
      Pushquiz,
      Avatar
    },
    perimeters: [
      AATPerimeter
    ],
    data: function () {
      return {
        channel: pusher.replying,
        symbol: '+'
      }
    },
    computed: {
      ask() {
        return this.$store.getters.currentQuestion
      }
    },
    methods: {
      getTimeAgo: function (date) {
        return moment.utc(date).fromNow()
      },
      showAttachment: function () {
        this.show = true
      },
      onClosed: function () {
        this.show = false
      },
      closeModal: function () {
        this.channel.trigger('client-closed_quiz_modal', {
          user_id: this.$store.state.user.id,
          ask_id: this.ask.id
        })
        this.$emit('close')
        if (this.$store.state.showModal) {
          this.$store.commit('TOGGLE_MODAL')
        }
      }
      ,
      togglePush: function () {

        return this.$store.commit('TOGGLE_PUSH')
      },
      setActiveAsk: function (ask) {
        let store_ = this.$store
        store_.commit('SWITCH_QUESTION', {ask})
      }
    },
    mounted: function () {
      let obj = this.$store,
        element = document.getElementsByClassName('chat-container')[0]
      obj.dispatch('loadPrevLessons', {'user_id': obj.state.CURRENT_ASK.user_id})
      var observer = new MutationObserver(function (mutations) {
          mutations.forEach(function (mutation) {
            if (mutation.target.tagName === 'DIV') {
              element.scrollTop = element.scrollHeight - element.clientHeight
            }
          })
        }),
        observerConfig = {
          attributes: true,
          childList: true,
          characterData: true,
          subtree: true
        }
      observer.observe(element, observerConfig)
    }
  }
</script>
<style>
  .slide-leave-active {
    -webkit-transition: 1.5s ease-in-out !important;
    -moz-transition: 1.5s ease-in-out !important;
    -o-transition: 1.5s ease-in-out !important;
    transition: 1.5s ease-in-out !important
  }

  .slide-leave-to {

    -webkit-transform: translateX(500%) !important;
    -moz-transform: translateX(500%) !important;
    -o-transform: translateX(500%) !important;
    transform: translateX(500%) !important
  }

  .slide-leave-from {

    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transform: translateX(0) !important
  }
</style>
