<template>
      <div v-if="reply.responder" class="direct-chat-msg col-xs-100">
        <div class="col-xs-75 col-sm-90">
          <div class="direct-chat-info">
            <p class="direct-chat-name text-right">{{reply.responder.name}}</p>
            <p class="direct-chat-text text-left text-small">
              {{reply.reply}}
            </p>
            <span class="direct-chat-timestamp text-left text-tiny" :data-date="(reply.created_at === null) ? reply.updated_at : reply.created_at">
              {{helpers.getTimeAgo((reply.created_at === null) ? reply.updated_at : reply.created_at)}}
            </span>
          </div>
        </div>
        <div class="col-xs-25 col-sm-10 reply-avatar">
          <avatar :username="reply.responder.name" :size="45" class="direct-chat-img"></avatar>
        </div>
      </div>
</template>
<script>
  import moment from 'moment'
  import Avatar from 'vue-avatar/src/Avatar'
  import helpers from '../../helpers/helpers'
  export default{
    props: ['reply'],
    components: {
      Avatar
    },
    methods: {
      getTimeAgo (date) {
        return moment.utc(date).fromNow()
      }
    },
    data(){
      return {
        helpers: helpers,
      }
    }
  }
</script>
