<template>
  <div>
    <div class="row subject-tabs-container">

      <div class="aat-chat-tabs col-xs-100 card card-shadow-2">
        <div class="col-xs-100 aat-type-switch">
          <div class="col-xs-100 float-left switch-container padding-t-small">
            <p @click="switchTypes({type:'ask-a-teacher',to:state.to ,from:state.from})"  class="text-center  text-bold active" data-tab="aat-tab">Ask A Teacher</p>
            <p @click="switchTypes({type:'help',to:state.to,from:state.from})" class="text-center text-bold" data-tab="assist-tab">Assist</p>
            <p @click="switchTypes({type:'feedback',to:state.to,from:state.from})" class="text-center text-bold" data-tab="feedback-tab">Feedback</p>
          </div>
        </div>
        <div class="col-xs-100">
          <a @click="switchSubject('unanswered')" data-dismiss="modal" class="col-xs-30 aat-tab active">
            <span>Pending</span>
            <span class="badge bg-red-active">{{getNumberOfQuestionsInSubject('unanswered')}}</span>
          </a>
          <a @click="switchSubject('answered')" data-dismiss="modal" class="col-xs-30 aat-tab">
            <span>Done</span>
            <span class="badge bg-green-active">{{getNumberOfQuestionsInSubject('answered')}}</span>
          </a>
          <a @click="switchSubject('unanswered-help')" data-dismiss="modal" class="col-xs-30 assist-tab">
            <span>Pending</span>
            <span class="badge">{{getNumberOfQuestionsInSubject('unanswered-help')}}</span>
          </a>
          <a @click="switchSubject('answered-help')" data-dismiss="modal" class="col-xs-30 assist-tab">
            <span>Done</span>
            <span class="badge">{{getNumberOfQuestionsInSubject('answered-help')}}</span>
          </a>
          <a @click="switchSubject('unanswered-feedback')" data-dismiss="modal" class="col-xs-30 feedback-tab">
            <span>Pending</span>
            <span class="badge">{{getNumberOfQuestionsInSubject('unanswered-feedback')}}</span>
          </a>
          <a @click="switchSubject('answered-feedback')" data-dismiss="modal" class="col-xs-30 feedback-tab">
            <span>Done</span>
            <span class="badge">{{getNumberOfQuestionsInSubject('answered-feedback')}}</span>
          </a>
          <a data-toggle="modal" data-target="#subjectsModal" class="col-xs-40">
            <span>Subjects</span>
            <svg width="15" height="15" class="icon" v-svg="'agenda'"></svg>
          </a>
        </div>
        <div class="col-xs-100">
          <div class="col-xs-50 padding-t-small padding-r-small">
            <div class="input-group">
              <span class="input-addon">From</span>
              <div class="input-icon">
                <datepicker :value="state.from" name="from" placeholder="From" class="input-date" v-on:selected="filterFromAsks"></datepicker>
              </div>
            </div>
          </div>
          <div class="col-xs-50 padding-t-small padding-r-small">
            <div class="input-group">
              <span class="input-addon">To</span>
              <div class="input-icon">
                <datepicker :value="state.to" name="to" placeholder="To" class="input-date" v-on:selected="filterToAsks"></datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal aat-sidebar card-raised col-xs-100 col-sm-57 col-md-60" id="subjectsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="hidden-xs">&times;</span>
              <span aria-hidden="true" class="visible-xs hidden-sm">&rarr;</span>
            </button>
            <div class="col-xs-90 col-xs-offset-5 col-sm-70 col-sm-offset-15 margin-t-medium">
              <input type="text" placeholder="search subjects here ........." v-model="search"
                     class="form-control"/>
            </div>
          </div>
          <div class="modal-body subjects-container">
            <div v-if="$store.state.subjects"
                 class="inbox-nav inbox-divider">
              <button @click="switchSubject(subject.id)"
                      v-for="subject in filterBy($store.state.subjects, search)" data-dismiss="modal"
                      class="btn btn-sm btn-default btn-select-subject" type="button">
                <strong>{{subject.name}}</strong>
                {{ subject.category }}
                <span class="badge">{{getNumberOfQuestionsInSubject(subject.id)}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Datepicker from 'vuejs-datepicker'
  import moment from 'moment'
  export default {
    name: 'subjects',
    components: {
      Datepicker
    },
    data: function () {
      return {
        search: '',
        state: {
          from: moment().subtract(3,'days').format('YYYY-MM-DD'),
          to: moment().format('YYYY-MM-DD')
        },
        type: 'ask-a-teacher'
      }
    },
    computed: mapGetters([
      'getSubjects',
      'currentSubject',
      'currentAsks'
    ]),
    methods: {
      switchTypes(subject){
        let obj = this.$store, dates = {from: subject.from, to: subject.to}
        obj.state.showModal = false
        this.type = subject.type
        if(!event.target.classList.contains('active')){
          if (subject !== null && typeof subject === 'object' && subject.type === 'ask-a-teacher'){
            obj.dispatch('loadAsks', {'user_id':obj.state.user.id,'dates':dates,'cat':subject.type})
            this.switchSubject ('unanswered')
          }
          if (subject !== null && typeof subject === 'object' && subject.type === 'help'){
            obj.dispatch('loadAsks', {'user_id':obj.state.user.id,'dates':dates,'cat':subject.type})
            this.switchSubject ('unanswered-help')
          }
          if (subject !== null && typeof subject === 'object' && subject.type === 'feedback'){
            obj.dispatch('loadAsks', {'user_id':obj.state.user.id,'dates':dates,'cat':subject.type})
            this.switchSubject ('unanswered-feedback')
          }
        }

      },
      filterToAsks(val){
        this.state.to = moment(val).format('YYYY-MM-DD')
        let from_ = this.state.from
        this.state.from = moment(from_).format('YYYY-MM-DD')
        this.filterAsks(this.$data.state)
      },
      filterFromAsks(val){
        this.state.from = moment(val).format('YYYY-MM-DD')
        let to_ = this.$data.state.to
        this.state.to = moment(to_).format('YYYY-MM-DD')
        this.filterAsks(this.$data.state)
      },
      filterAsks(state){
        let obj = this.$store, dates = {from: state.from, to: state.to},type = this.type
        obj.dispatch('loadAsks', {'user_id':obj.state.user.id,'dates':dates,'cat':type})
      },
      switchSubject (id) {
        let store_ = this.$store
        this.$store.dispatch('switchThread', {id})
        store_.state.showModal = false
        this.search = ''
      },
      getNumberOfQuestionsInSubject (id) {
        let asksArray = []
        if (id === 'unanswered') {
          asksArray = this.$store.state.asks.filter(function (ask) {
            return ask.replies.length === 0
          })
        } else if (id === 'answered') {
          asksArray = this.$store.state.asks.filter(function (ask) {
            return ask.replies.length > 0
          })
        } else if (id === 'unanswered-help'){
          asksArray = this.$store.state.asks.filter(function (ask) {
            return ask.type === 'help' && ask.replies.length < 1
          })
        } else if (id === 'answered-help'){
          asksArray = this.$store.state.asks.filter(function (ask) {
            return ask.type === 'help' && ask.replies.length > 0
          })
        }
        else if (id === 'unanswered-feedback'){
          asksArray = this.$store.state.asks.filter(function (ask) {
            return ask.type === 'feedback' && ask.replies.length < 1
          })
        } else if (id === 'answered-feedback'){
          asksArray = this.$store.state.asks.filter(function (ask) {
            return ask.type === 'feedback' && ask.replies.length > 0
          })
        }
        else {
          asksArray = this.$store.state.asks.filter(function (ask) {
            return ask.subject_id === id
          })
        }
        return asksArray.length
      }
    }
  }
</script>
